<div ng-include="'app/shared_components/partials/mobile-menu.html'" >
                        
                    </div>
<div class="container-fluid">
    <!-- <div class="table-class"> -->
    <!-- <div class="center-screen"> -->
    <div class="welcome-wrap">
        <div class="row">
            <div class="col-md-1 text-center welcome-txt mt-5">
                <img src="app/assets/img/switch-pose.png" class="wel-mini">
                <img src="app/assets/img/home/welcome-txt.png" alt="" class="img-fluid">
            </div>
            <div class="col-md-1 pl-0 mob-hide">
                <div class="mt-0 col-md-12 mb-4">
                    <a href="#/home"><img src="app/assets/img/home/home-icon.png" alt="" class="menu-active"></a>
                </div>
                <div ng-include="'app/shared_components/partials/menu.html'" class="main-menu">
                </div>
            </div>
            <div class="col-md-10">
                <div class="row">
                    <div class="ml-4 breadcrumb-txt mb-4">
                        <h3 class="pl-0">FEEDBACK</h3>
                        <p class="mb-0">{{ratingTitle}}</p>
                    </div>
                    <div class="w-100">
                    </div>
                </div>
                <div class="">
                    <div class="col-xs-12 col-md-12 rating-wrapper">
                        <div class="row">
                            <ul class="rating-list">
                            <li ng-repeat="item in rating" ng-click="feedbackimageclick(item)">
                            <img ng-if="item.active == false && item.id== 1" src="app/assets/img/feed/bad.png">
                            <img ng-if="item.active == true && item.id== 1" src="app/assets/img/feed/bad-tick.png">
                            <img ng-if="item.active == false && item.id== 2" src="app/assets/img/feed/not-bad.png">
                            <img ng-if="item.active == true && item.id== 2" src="app/assets/img/feed/not-bad-tick.png">
                            <img ng-if="item.active == false && item.id== 3" src="app/assets/img/feed/average.png">
                            <img ng-if="item.active == true && item.id== 3" src="app/assets/img/feed/average-tick.png">
                            <img ng-if="item.active == false && item.id== 4" src="app/assets/img/feed/good.png">
                            <img ng-if="item.active == true && item.id== 4" src="app/assets/img/feed/good-tick.png">
                            <img ng-if="item.active == false && item.id== 5" src="app/assets/img/feed/awesome.png">
                            <img ng-if="item.active == true && item.id== 5" src="app/assets/img/feed/awesome-tick.png">
                            <div class="white-color text-center">{{item.ratingstypename}}</div>
                        </li>
                        </ul>
                        </div>
                    </div>
                    <div class="col-xs-12 feed-back-nav breadcrumb-txt mb-2 clearfix">
                        <p>{{feedbackTitle}}</p>
                         <div class="tab-nav">
          <ul>
            <li ng-repeat="claim in topic track by $index" ng-click="selectTopic(claim.feedbacktopic)">
              <a href="javascript:;" ng-class="(topicvalue == claim.feedbacktopic)?'active':''">{{claim.feedbacktopic}}</a></li>
          </ul>
        </div>
                    </div>

                    <div class="col-xs-12 breadcrumb-txt">
                        <p ng-show="feedbacklist.ismycommentrequired">{{commentTitle}}</p>
                        <form action="" method="get" accept-charset="utf-8" class="feedback-txt" ng-show="feedbacklist.ismycommentrequired">
                            <div class="form-group">
    <textarea ng-model="commenttext" class="form-control white-color" style="resize: none" id="" rows="7" placeholder="Type your comment" maxlength='200'></textarea>
    <label for="" class="text-right pull-right">Max character : 200</label>
  </div>    
       </form>
    <button type="submit" class="submit-feed pull-right" ng-click="submitfeebackdata()"><img src="app/assets/img/feed/send.png" class="img-fluid" alt=""></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- </div> -->
<!-- </div> -->
