<div ng-include="'app/shared_components/partials/mobile-menu.html'" >
                        
                    </div>
    <div class="container-fluid">
     
        <div class="row">
            
            
        </div>
        <!-- <div class="table-class"> -->
        <!-- <div class="center-screen"> -->
        <div class="">
            <div class="row">
                <div class="col-md-1 text-center welcome-txt mt-5">
                    <img src="app/assets/img/switch-pose.png" class="wel-mini">
                    <img src="app/assets/img/home/welcome-txt.png" alt="" class="img-fluid">
                </div>
                <div class="col-md-1 pl-0 mob-hide">
                    <!-- <div class="mt-0 col-md-12 mb-4">
                        <a href="#/home"><img src="app/assets/img/home/home-icon.png" alt="" class="menu-active"></a>
                    </div> -->
                    <div ng-include="'app/shared_components/partials/menu.html'" class="main-menu">
                        
                    </div>
                </div>
<div class="col-lg-10 col-sm-12 col-12">
    <div class="row">
  <div class="col-lg-6 col-6">
        <div class="breadcrumb-txt mr-3">
        <h3>SETTINGS</h3>
    </div>
  </div>
       <div class="col-lg-6 col-6">
           <div class="logout-btn mt-2 float-right"  value="logout" data-toggle="modal" data-target="#exampleModal">
        <!-- <input type="button" value="logout" ng-click="logout()" class="form-control logout-btn" /> -->
         <img src="app/assets/img/logout.png"   alt=""> <span class="text-shadow">LOGOUT</span>
    </div>
       </div>
</div>
    
    <div class="">
        <!-- <a href="#/smu" style="padding:13px 0px 0px 20px;color:white;display:inline-block;">Switch Me Up!</a> -->
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-12 col-xs-12 float-left no-padd-mob-res half-with-res">
    <div class="register-wrapper-form setting-left-frm-head">
         <div class="register-wrapper">
         <div class="col-lg-4 col-12 float-left text-right col-sm-4">
            <input type="file" id="challengePhoto"  name="file" fileInput="response.file" accept="image/png, image/gif, image/jpeg" filepreview="response.filepreview" style="display:none"/>
             <div class="setting-avatar bg-black-layer" style="background-image:url({{response.filepreview?response.filepreview:photo.sm}})">
             <!-- <img ng-if="photo.sm && !response.filepreview" ng-src="{{photo.sm}}" alt="" class="img-fluid">
             <img ng-if="!photo.sm && !response.filepreview" src="app/assets/img/profile/avatar.png" alt="" class="img-fluid">
             

             <img ng-src="{{response.filepreview}}" ng-show="response.filepreview" class="img-fluid profile-img" > -->
             </div>
         </div>
         <div class="col-lg-8 col-12 col-sm-8 float-right upload-txt">
             
           <img src="app/assets/img/settings/c-pho.png"  alt="" class="img-fluid">  
             <!-- <label for="upload" class="file-upload__label"> Upload Photo </label> -->
             <input id="showimg" class="show-upload"   custom-on-change="uploadFile" type="file" fileInput="response.file" accept="image/png, image/gif, image/jpeg" filepreview="response.filepreview" name="file-upload">   
         </div>
     </div>
     <div class="w-100">
         
     </div>
         <div class="col-lg-12 col-12">
             <form class="register-frm setting-left-frm">
                <h3 class="mb-0 mt-3">YOUR INFO</h3>
                <img src="app/assets/img/leader-border.png" class="img-fluid">
  <div class="form-group">
    <label>Name</label>
    <input type="text" name="settingname" class="form-control" value="{{user.name}}" ng-model="user.name" aria-describedby="emailHelp" placeholder="Mr Awesome">
  </div>
  <div class="form-group">
    <label>Mesra Card Number</label>
    <input type="text" name="settingmesra" class="form-control" value="{{user.mesra}}" ng-model="user.mesra" aria-describedby="emailHelp" placeholder="1234567890">
  </div>
</form>
         </div>
            </div>


    </div>

<div class="col-lg-6 col-md-12 col-xs-12 float-left  half-with-res">
    <div class="">
   
    
    <div class="">
        <!-- <a href="#/smu" style="padding:13px 0px 0px 20px;color:white;display:inline-block;">Switch Me Up!</a> -->
    </div>
    <div class="w-100">
    </div>
    <div class="register-wrapper-form setting-left-frm-head" ng-class="avatarPhoto==''?'top-frm':''">
         <div class="register-wrapper" ng-if="avatarPhoto!=''">
            <div class="col-lg-4 col-4 float-left text-right">
             <div class="setting-avatar bg-black-layer" style="background-image:url({{avatarPhoto}})">
            <!-- 
                 <img src="app/assets/img/switch-pose.png" class="img-fluid">
              -->
            </div>
            </div>
             <div class="col-lg-8 col-8 float-right upload-txt">
                 <img src="app/assets/img/settings/up-av.png" ng-click="uploadAvatar()" alt="" class="img-fluid">
             </div>
         </div>
     <div class="w-100">
         
     </div>
         <div class="col-lg-12 mt-0 no-padd-mob-res">
            <!-- <span class="or-text">or</span> -->
             <form class="register-frm setting-left-frm" name="userpwd" novalidate>
                <h3 class="mb-0 mt-3">ACCOUNT PASSWORD</h3>
                <img src="app/assets/img/leader-border.png" class="img-fluid">
  <div class="form-group">
    <label>Current Password</label>
    <input type="password" name="settingpassword" ng-model="user.oldPassword" class="form-control" aria-describedby="emailHelp" placeholder="1234567890" required>
  </div>
  <div class="form-group">
    <label>New Password</label>
    <input type="password" name="password" class="form-control" ng-model="user.newPassword" aria-describedby="emailHelp" placeholder="1234567890" required ng-pattern="/(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}/">
    <p class="mb-0">Password must have 8 or more characters and at least one upper-case letter,
one lower-case letter and one number.</p>
  </div>
   <div class="form-group">
    <label>Confirm New Password</label>
    <input type="password" name="confirmpassword" required class="form-control" ng-model="user.confirmPassword" aria-describedby="emailHelp" placeholder="1234567890" ng-pattern="/(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}/">
    <p class="mb-0">Password must have 8 or more characters and at least one upper-case letter,
one lower-case letter and one number.</p>
  </div>
</form>
         </div>
            </div>

    </div>
</div>
</div>
    </div>
</div>
<div class="col-10 col-lg-12 col-sm-12 col-md-12 btn-save">
    <button type="submit" ng-click="update(userpwd)" name="settingsubmit" class="btn submit-feed submit-register submit-setting">
    <img src="app/assets/img/settings/sav-ph.png" class="img-fluid">
</button>
</div>

            </div>
        </div>
        <!-- </div> -->
        <!-- </div> -->
    </div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
 <div class="modal-dialog" role="document">
   <div class="modal-content">
     <div class="modal-header">
       <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
       <button type="button" class="close" data-dismiss="modal" aria-label="Close">
         <span aria-hidden="true">&times;</span>
       </button>
     </div>
     <div class="modal-body">
       Are you sure you want to logout of the application?
     </div>
     <div class="modal-footer">
       <button type="button" class="btn btn-primary" data-dismiss="modal"  ng-click="logout()">Yes</button>
       <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
     </div>
   </div>
 </div>
 </div>
            
