<div ng-include="'app/shared_components/partials/mobile-menu.html'" >
                        
                    </div>
<div class="container-fluid">
    <!-- <div class="table-class"> -->
    <!-- <div class="center-screen"> -->
    <div class="">
        <div class="row">
            <div class="col-md-1 text-center welcome-txt mt-5">
                 <img src="app/assets/img/switch-pose.png" class="wel-mini">
                <img src="app/assets/img/home/welcome-txt.png" alt="" class="img-fluid">
            </div>
            <div class="col-md-1 pl-0 mob-hide">
                <div class="mt-0 col-md-12 mb-4">
                    <a href="#/home"><img src="app/assets/img/home/home-icon.png" alt="" class="menu-active"></a>
                </div>
                <div ng-include="'app/shared_components/partials/menu.html'" class="main-menu">
                </div>
            </div>
            <div class="col-md-10">
                <div class="row">
                    <div class="ml-1 breadcrumb-txt mb-4">
                        <h3>CHALLENGE</h3>
                    </div>
                    <div class="w-100">
                    </div>
                </div>
               
                <!-- Challenge - Type 1 -->
                <div class="row"  ng-if="challenge.challengeTypeId==1">
                    <div class="col-lg-10 col-sm-12 col-12">
                        <div class="row">
                            <!--image-->
                            <div class="col-lg-6  mb-3 col-sm-6 col-12 float-left">
                                <div ng-if="!challenge.medias" style="position:relative" class="bg-theme mb-4">
                                    <!-- <span class="challenge-points text-center" ng-if="challenge.points">{{challenge.points}} Points</span> -->
                                    <figure class="phots-feedback-big-icon"  style="background-image:url({{challenge.imageLarge}})">
                                        
                                        
                                        <!-- <img ng-src="{{challenge.imageLarge}}" alt="" class="img-fluid"> -->
                                    </figure>
                                </div>
                            <!-- Media-->
                                    <div ng-if="challenge.medias" class=" mb-3" style="width:100%;float:left;">

                                        <!--PDF-->
                                        <div ng-if="challenge.medias[0].type=='PDF'" >
                                            
                                            <iframe ng-src="{{trustSrc('https://docs.google.com/gview?url='+challenge.medias[0].url+'&embedded=true')}}" width="100%" height="300" ></iframe>
                                        </div>

                                        <!--VIDEO-->
                                        <div ng-if="challenge.medias[0].type=='Video'" class="" style="width:100%;float:left;">
                                            <video controls height="100%" width="100%">
                                                <source ng-attr-src="{{trustSrc(challenge.medias[0].fileUrl)}}"  type='video/mp4' ></source>
                                               </video> 
                                            <!-- <iframe ng-src="{{challenge.medias[0].url}}" height="300" width="100%"></iframe> -->
                                        </div>
                                        <!-- <p ng-if="!challenge.repeat||challenge.claimed" >{{challenge.completionMessage}}</p> -->
                                    </div>

                                    <!--Form-->
                                    <form enctype= "multipart/form-data">
                                        <input type="text" name="filename" value="file_name" style="display:none"/>
                                        <div class="form-group"  ng-if="challenge.repeat||!challenge.claimed" >
                                            <textarea name="" class="form-control" placeholder="Type your answer here" rows="7" style="resize: none;" ng-model="response.comment"></textarea>
                                        </div>
                                        <div class="form-group form-group1 clearfix"  ng-if="challenge.repeat||!challenge.claimed" >
                                            <input type="file" id="challengePhoto"  name="file" fileInput="response.file" accept="image/png, image/gif, image/jpeg" filepreview="response.filepreview" style="display:none"/>
                                            <img src="app/assets/img/upload-cha.png" alt="" ng-click="uploadPhoto()"/>
                                            <p>Upload photo <span ng-if="!challenge.photoOnly">(Optional)</span></p>
                                            
                                        </div>
                                        <div class="upload-icon" ng-show="response.filepreview" style="background-image:url({{response.filepreview}})">
                                           <!-- <img ng-src="{{response.filepreview}}" ng-show="response.filepreview" class="upload-view" > -->
                                            </div>
                                        <div ng-if="!challenge.repeat&&challenge.claimed">
                                         <p class="completed-challenge-text"><img src="app/assets/img/challenge/tick-w.png">  Challenge Completed</p>
                                        </div>
                                        <button type="submit" ng-if="challenge.repeat||!challenge.claimed"  class="btn submit-feed submit-point" ng-click="claimChallenge()">
                                            <img src="app/assets/img/get-point.png" alt="">
                                        </button>
                                    </form>


                                               


                                                    <!--Comments-->

                                                    <div class="col-lg-12 col-12 mt-2 mb-4 float-left">
                                                        <div class="row">
                                                         <h4 class="mb-0 mt-1 comments-click">Comments <img src="app/assets/img/challenge/arrow-right.png" class="float-right"></h4>
                                                           <div class="comments-wrapper comments-wrapper1">
                                                         <div class="comments-challenge">
                                                        <ul ng-if="comments.length>0" class="comments">
                                                            <li ng-repeat="comment in comments">
                                                                <div class="other-completion-comments-icon bg-theme">
                                                                <img ng-src="{{comment.photoLarge}}">
                                                                    
                                                                </div>
                                                                <div class="user-comments">
                                                                    <h5 class="ng-binding">{{comment.userName}}</h5>
                                                                    <p class="ng-binding">{{comment.message}}</p>
                                                                    <span class="ng-binding">{{comment.createdAtFormatted}}</span>
                                                                  </div>

                                                            </li>
                                                        </ul>
                                                        <input type="button" class="btn submit-comments" value="load more" ng-if="showMoreComments" ng-click="nextPageComments()"/>
                                                        <div class="col-lg-12 mt-2">
                                                            <textarea rows="3" style="resize: none;" ng-model="challenge.commentText" class="form-control"></textarea>
                                                            <div class="col-lg-4 pl-0">
                                                                          <input class="form-control show-more" type="button" value="Post comment" ng-click="commentChallenge()"/>
                                                                      </div>
                                                        </div>
                                                        
                                                        </div>

                                                    </div></div></div>

                                                     <!--Other Completions-->
                                                    <div class="col-lg-12 col-12 no-padd">
                                                     <div class="">
                                                     <!-- <div class="col-lg-6 col-12 float-left">
                                                     <div class="row"> -->
                                                            <h4 class="mb-0 mt-1 toggle-comments-click">See what others responded <img src="app/assets/img/challenge/arrow-right.png" class="float-right"></h4>
                                                           <div class="comments-wrapper">
                                                           <div class="col-lg-12 toggle-comments">
                                                            <p class="pt-3" ng-if="challengeClaims.length==0">No Activities found</p>
                                                               <div ng-repeat="claim in challengeClaims" class="com-top">
                                                                <div class="col-lg-2 col-2 col-sm-1 float-left comments-avatar">
                                                                <div class="row other-completion-comments-icon bg-theme-dark">
                                                                    <img ng-src="{{claim.userPhotoLarge}}" alt="" class="img-fluid">
                                                                </div>
                                                                </div>
                                                           
                                                                <div class="col-lg-8 col-8 col-sm-8 float-left comments-info pl-0">
                                                                    <div class="">
                                                                        <h5>{{claim.userName}}</h5> 
                                                                    <span>{{claim.createdAtFormatted}}</span>
                                                                    <!-- <hr style="width: 100%;float: left;margin-top: 8px;margin-bottom:0;"> -->
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-2 col-2 col-sm-2 float-right comments-count">
                                                                    <!-- <span class="text-right">+{{claim.points}}</span> -->
                                                                </div>
                                                                <div class="col-lg-12 col-12 float-left">
                                                                    <div class="row">
                                                                        <figure class="comments-image">
                                                                            <img ng-src="{{claim.claimPhotoLarge}}" alt="">

                                                                        </figure>
                                                                        <div class="w-100">
                                                                            
                                                                        </div>
                                                                        <div class="col-lg-4 col-6">
                                                                            <ul class="float-left comment-votes">
                                                                                <li>{{claim.likeNo}} votes</li>
                                                                                <li>{{claim.commentNo}} comments</li>
                                                                            </ul>
                                                                        </div>
                                                                         <div class="col-lg-8 col-6 comments-like">
                                                                             <ul class="float-right">
                                                                                <!-- <li ng-click="updateRate($index,claim.id)" ng-class="claim.ratedLike?'active-like':''"><i class="fa fa-heart" aria-hidden="true"></i></li> -->
                                                                                <li data-toggle="collapse" data-target="#activityFeed{{$index}}" aria-expanded="false" ><i class="fa fa-comment-o" aria-hidden="true"></i></li>
                                                                            </ul>
                                                                        </div>
                                                                        <div class="collapse col-lg-12 mt-2"  id="activityFeed{{$index}}">
                                                                          <textarea  rows="5" style="resize: none;" class="form-control" ng-model="claim.comment"></textarea>
                                                                          <div class="col-lg-4 pl-0">
                                                                              <input class="form-control show-more" type="button" value="Post comment" ng-click="updateComment($index,claim.id,claim.comment)"/>
                                                                          </div>
                                                                      </div>
                                                                        
                                                                    </div>
                                                                        <div class="comments-text">
                                                                            <p>{{claim.message}}</p>
                                                                        </div>
                                                                </div>
                                                            </div>
                                                            </div>
                                                           </div>
                                                       <!-- </div></div> -->

                                                       </div>
                                                       </div>

                            </div>
                            <div class="col-lg-6 col-sm-6  col-12 float-left">
                                <div class="row right-content pt-1 bg-theme-dark  border-radius">
                                    <h4 class="">{{challenge.title}}</h4>
                                    <p class="scroll footnote-arrow" >{{challenge.footnote}}<a class="footnote-next" ng-if="challenge.nextChallengeId" href="#/challenge?id={{challenge.nextChallengeId}}"><i class="fa fa-chevron-right"></i></a></p>
                            </div>
                            </div>
                        </div>
                            <!-- <div class="row">
                            <div class="col-lg-6 col-sm-6 float-left">
                                

                            </div>
                            <div class="col-lg-6 col-sm-6 float-left no-padd">
                                    
                                </div>
                            
                        </div> -->
                    </div>
                </div>
                
                <!-- Challenge - Type 2 & 10 -->
                <div class="row" ng-if="challenge.challengeTypeId==2 || challenge.challengeTypeId==10">
                    <div class="col-lg-10 col-sm-12 col-12">
                        <div class="row">
                            <div class="col-lg-6 col-sm-6 col-12  float-left">
                                <!--Image-->
                                <div ng-if="!challenge.medias" style="position:relative;" class="bg-theme mb-3">
                                    <!-- <span class="challenge-points text-center" ng-if="challenge.points">{{challenge.points}} Points</span> -->
                                    <figure class="phots-feedback-big-icon"  style="background-image:url({{challenge.imageLarge}})">
                                        
                                    <!-- <img ng-src="{{}}" alt="" class="img-fluid"> -->
                                    </figure>
                                </div>

                                <!-- Media-->
                                    <div ng-if="challenge.medias" class=" mb-3" style="width:100%;float:left;">

                                        <!--PDF-->
                                        <div ng-if="challenge.medias[0].type=='PDF'" >
                                            
                                            <iframe ng-src="{{trustSrc('https://docs.google.com/gview?url='+challenge.medias[0].url+'&embedded=true')}}" width="100%" height="300" ></iframe>
                                        </div>

                                        <!--VIDEO-->
                                        <div ng-if="challenge.medias[0].type=='Video'" class="" style="width:100%;float:left;">
                                            <video controls height="100%" width="100%">
                                                <source ng-attr-src="{{trustSrc(challenge.medias[0].fileUrl)}}"  type='video/mp4' ></source>
                                               </video> 
                                            <!-- <iframe ng-src="{{challenge.medias[0].url}}" height="300" width="100%"></iframe> -->
                                        </div>
                                        <!-- <p ng-if="!challenge.repeat||challenge.claimed" >{{challenge.completionMessage}}</p> -->
                                    </div>

                                <!--Quiz single select-->
                                     <div ng-if="!challenge.repeat&&challenge.claimed">
                                        <p class="completed-challenge-text"><img src="app/assets/img/challenge/tick-w.png">  Challenge Completed</p>
                                    </div>
                                    <ul class="list-challenge" ng-if="challenge.multiSelect">
                                        <li class="select-list mt-2 mb-3"  ng-repeat="quest in challenge.quizOptions" ng-if="!(challenge.claimed&&challenge.quizOptions.length==1)" ng-class="(!challenge.repeat&&challenge.claimed?'answered-options':'')">
                                            <label ng-if="!challenge.repeat&&challenge.claimed">{{quest.title}}</label>
                                            <div class="md-checkbox md-checkbox1" ng-if="challenge.repeat||!challenge.claimed" >
                                                <input ng-click="selectClaim(quest.id,false)" id="{{check+$index}}" id="{{check+$index}}" type="checkbox">
                                                <label for="{{check+$index}}">
<span class="check-icon"></span>
                                                    <span>{{quest.title}}</span></label>
                                            </div>
                                        </li>
                                    </ul>

                                    <ul class="list-challenge list-challenge1" ng-if="!challenge.multiSelect">
                                        <li ng-repeat="quest in challenge.quizOptions" class="mt-2 mb-3" ng-class="(!challenge.repeat&&challenge.claimed?'answered-options':'')"   ng-if="!(challenge.claimed&&challenge.quizOptions.length==1)">
                                             <label ng-if="!challenge.repeat&&challenge.claimed">{{quest.title}}</label>
                                            <input  ng-click="selectClaim(quest.id,true)"  ng-if="challenge.repeat||!challenge.claimed"  type="radio" name="selector" id="{{rad+$index}}" value={{quest.id}}>
                                            <label  ng-if="challenge.repeat||!challenge.claimed"  for="{{rad+$index}}"><span class="radio-icon"></span><span>{{quest.title}}</span></label>
                                            <div class="check"  ng-if="challenge.repeat||!challenge.claimed" ></div>
                                        </li>
                                    </ul>
                                   
                                    <form action="" method="get" accept-charset="utf-8">
                                        <button type="submit" ng-if="challenge.repeat||!challenge.claimed" class="btn submit-feed submit-point" ng-click="claimChallenge()">
                                            <img src="app/assets/img/get-point.png" alt="">
                                        </button>
                                    </form>

                                        <!--Comments-->

                                            <div class="col-lg-12 col-12 mt-3 mb-4 float-left">
                                                <div class="row">
                                                 <h4 class="mb-0 mt-1 comments-click">Comments <img src="app/assets/img/challenge/arrow-right.png" class="float-right"></h4>
                                                   <div class="comments-wrapper comments-wrapper1">
                                                 <div class="comments-challenge">
                                                <ul ng-if="comments.length>0" class="comments">
                                                    <li ng-repeat="comment in comments">
                                                        <div class="other-completion-comments-icon bg-theme">
                                                        <img ng-src="{{comment.photoLarge}}">
                                                            
                                                        </div>
                                                        <div class="user-comments">
                                                            <h5 class="ng-binding">{{comment.userName}}</h5>
                                                            <p class="ng-binding">{{comment.message}}</p>
                                                            <span class="ng-binding">{{comment.createdAtFormatted}}</span>
                                                          </div>

                                                    </li>
                                                </ul>
                                                <input type="button" class="btn submit-comments" value="load more" ng-if="showMoreComments" ng-click="nextPageComments()"/>
                                                <div class="col-lg-12 mt-2">
                                                    <textarea rows="3" style="resize: none;" ng-model="challenge.commentText" class="form-control"></textarea>
                                                    <div class="col-lg-4 pl-0">
                                                                  <input class="form-control show-more" type="button" value="Post comment" ng-click="commentChallenge()"/>
                                                              </div>
                                                </div>
                                                
                                                </div></div></div>

                                            </div>
                                                    <!--Other Completions-->
                                            <div class="col-lg-12 mb-4 float-left col-12 no-padd full no-padd-mob-res">
                                             <div class="">
                                             <!-- <div class="col-lg-6 col-12 float-left">
                                             <div class="row"> -->
                                                    <h4 class="mb-0 mt-1 toggle-comments-click">See what others responded <img src="app/assets/img/challenge/arrow-right.png" class="float-right"></h4>
                                                   <div class="comments-wrapper">
                                                   <div class="col-lg-12 toggle-comments">
                                                    <p class="pt-3" ng-if="challengeClaims.length==0">No Activities found</p>
                                                       <div ng-repeat="claim in challengeClaims" class="com-top">
                                                        <div class="col-lg-2 col-2 col-sm-1 float-left comments-avatar">
                                                        <div class="row other-completion-comments-icon bg-theme-dark">
                                                            <img ng-src="{{claim.userPhotoLarge}}" alt="" class="img-fluid">
                                                        </div>
                                                        </div>
                                                   
                                                        <div class="col-lg-8 col-8 col-sm-8 float-left comments-info pl-0">
                                                            <div class="">
                                                                <h5>{{claim.userName}}</h5> 
                                                            <span>{{claim.createdAtFormatted}}</span>
                                                            <!-- <hr style="width: 100%;float: left;margin-top: 8px;margin-bottom:0;"> -->
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-2 col-2 col-sm-2 float-right comments-count">
                                                            <!-- <span class="text-right">+{{claim.points}}</span> -->
                                                        </div>
                                                        <div class="col-lg-12 col-12 float-left">
                                                            <div class="row">
                                                                <figure class="comments-image">
                                                                    <img ng-src="{{claim.claimPhotoLarge}}" alt="">

                                                                </figure>
                                                                <div class="w-100">
                                                                    
                                                                </div>
                                                                <div class="col-lg-4 col-6">
                                                                    <ul class="float-left comment-votes">
                                                                        <li>{{claim.likeNo}} votes</li>
                                                                        <li>{{claim.commentNo}} comments</li>
                                                                    </ul>
                                                                </div>
                                                                 <div class="col-lg-8 col-6 comments-like">
                                                                     <ul class="float-right">
                                                                        <!-- <li ng-click="updateRate($index,claim.id)" ng-class="claim.ratedLike?'active-like':''"><i class="fa fa-heart" aria-hidden="true"></i></li> -->
                                                                        <li data-toggle="collapse" data-target="#activityFeed{{$index}}" aria-expanded="false" ><i class="fa fa-comment-o" aria-hidden="true"></i></li>
                                                                    </ul>
                                                                </div>
                                                                <div class="collapse col-lg-12 mt-2"  id="activityFeed{{$index}}">
                                                                  <textarea  rows="5" style="resize: none;" class="form-control" ng-model="claim.comment"></textarea>
                                                                  <div class="col-lg-4 pl-0">
                                                                      <input class="form-control show-more" type="button" value="Post comment" ng-click="updateComment($index,claim.id,claim.comment)"/>
                                                                  </div>
                                                              </div>
                                                                
                                                            </div>
                                                                <div class="comments-text">
                                                                    <p>{{claim.message}}</p>
                                                                </div>
                                                        </div>
                                                    </div>
                                                    </div>
                                                   </div>

                                                

                                               </div>
                                               </div>

                            </div>
                            <div class="col-lg-6 col-sm-6 col-12  float-left mt-3">
                                <div class="row right-content pt-1 bg-theme-dark  border-radius">
                                    <h4 class="">{{challenge.title}}</h4>
                                    <p class="scroll footnote-arrow" >{{challenge.footnote}}<a class="footnote-next" ng-if="challenge.nextChallengeId" href="#/challenge?id={{challenge.nextChallengeId}}"><i class="fa fa-chevron-right"></i></a></p>
                                </div>
                            </div>
                        </div>
                            <!-- <div class="row">
                            <div class="col-lg-6 col-sm-6 float-left">
                                
                            </div>
                            <div class="col-lg-6 col-sm-6 float-left">       
                                    
                                </div>

                        </div> -->
                    </div>
                </div>

                <!-- Challenge - Type 11 -->
                <div class="row"  ng-if="challenge.challengeTypeId==11">
                    <div class="col-lg-10 col-sm-12 col-12">
                        <div class="row">
                        	<div class="col-lg-6 col-12 col-sm-6  float-left ">
                                <!--Image-->
                                <div ng-if="!challenge.medias" style="position:relative" class="bg-theme  mb-3">
                                    <!-- <span class="challenge-points text-center" ng-if="challenge.points">{{challenge.points}} Points</span> -->
                                    <figure class="phots-feedback-big-icon" style="background-image:url({{challenge.imageLarge}})">

                                        <!-- <img ng-src="{{}}" alt="" class="img-fluid"> -->
                                    </figure>
                                </div>
                                <!-- Media-->
                                    <div ng-if="challenge.medias" class=" mb-3" style="width:100%;float:left;">

                                        <!--PDF-->
                                        <div ng-if="challenge.medias[0].type=='PDF'" >
                                            
                                            <iframe ng-src="{{trustSrc('https://docs.google.com/gview?url='+challenge.medias[0].url+'&embedded=true')}}" width="100%" height="300" ></iframe>
                                        </div>

                                        <!--VIDEO-->
                                        <div ng-if="challenge.medias[0].type=='Video'" class="" style="width:100%;float:left;">
                                            <video controls height="100%" width="100%">
                                                <source ng-attr-src="{{trustSrc(challenge.medias[0].fileUrl)}}"  type='video/mp4' ></source>
                                               </video> 
                                            <!-- <iframe ng-src="{{challenge.medias[0].url}}" height="300" width="100%"></iframe> -->
                                        </div>
                                        <!-- <p ng-if="!challenge.repeat||challenge.claimed" >{{challenge.completionMessage}}</p> -->
                                    </div>

                                    <!--Quiz-->
                                    <div ng-if="!challenge.repeat&&challenge.claimed">
                                          <p class="completed-challenge-text"><img src="app/assets/img/challenge/tick-w.png">  Challenge Completed</p>
                                    </div>
                                    <!--Poll Multiselect-->
                                    <div ng-if="challenge.multiSelect">
                                        <ul class="list-challenge" >
                                        <li class="select-list mt-2 mb-3"  ng-repeat="quest in challenge.quizOptions" ng-class="(!challenge.repeat&&challenge.claimed?'answered-options':'')"   ng-if="!(challenge.claimed&&challenge.quizOptions.length==1)">
                                            <label ng-if="!challenge.repeat&&challenge.claimed">{{quest.title}}</label>
                                            <div class="md-checkbox md-checkbox1" ng-if="challenge.repeat||!challenge.claimed" >
                                                <input ng-click="selectClaim(quest.id,false)" id="{{check+$index}}" type="checkbox">
                                                <label for="{{check+$index}}">
                                                    <span class="check-icon"></span>
                                                    <span>{{quest.title}}</span></label>
                                            </div>
                                        </li>
                                        </ul>
                                    </div>
                                    
                                    <!--Poll Singleselect-->
                                    <div ng-if="!challenge.multiSelect">
                                        <ul class="list-challenge list-challenge1" >
                                        <li ng-repeat="quest in challenge.quizOptions" class="mt-2 mb-3" ng-class="(!challenge.repeat&&challenge.claimed?'answered-options':'')"   ng-if="!(challenge.claimed&&challenge.quizOptions.length==1)">
                                             <label ng-if="!challenge.repeat&&challenge.claimed">{{quest.title}}</label>
                                            <input  ng-click="selectClaim(quest.id,true)"  ng-if="challenge.repeat||!challenge.claimed"  type="radio" name="selector" id="{{rad+$index}}" value={{quest.id}}>
                                            <label  ng-if="challenge.repeat||!challenge.claimed"  for="{{rad+$index}}">
                                                <span class="radio-icon"></span>
                                                <span>{{quest.title}}</span></label>
                                            <div class="check"  ng-if="challenge.repeat||!challenge.claimed" ></div>
                                        </li>
                                        </ul>
                                    </div>  

                                 

                                    <form action="" method="get" accept-charset="utf-8">
                                        <button type="submit" ng-if="challenge.repeat||!challenge.claimed" class="btn submit-feed submit-point" ng-click="claimChallenge()">
                                            <img src="app/assets/img/get-point.png" alt="">
                                        </button>
                                    </form>

                                                <!--Comments-->

                                                <div class="col-lg-12 col-12 float-left mt-3 mb-4">
                                                    <div class="row">
                                                     <h4 class="mb-0 mt-1 comments-click">Comments <img src="app/assets/img/challenge/arrow-right.png" class="float-right"></h4>
                                                       <div class="comments-wrapper comments-wrapper1">
                                                     <div class="comments-challenge">
                                                    <ul ng-if="comments.length>0" class="comments">
                                                        <li ng-repeat="comment in comments">
                                                            <div class="other-completion-comments-icon bg-theme" style="background-image:url({{comment.photoLarge}})">
                                                            <!-- <img ng-src="{{}}"> -->
                                                                
                                                            </div>
                                                            <div class="user-comments">
                                                                <h5 class="ng-binding">{{comment.userName}}</h5>
                                                                <p class="ng-binding">{{comment.message}}</p>
                                                                <span class="ng-binding">{{comment.createdAtFormatted}}</span>
                                                              </div>

                                                        </li>
                                                    </ul>
                                                    <input type="button" class="btn submit-comments" value="load more" ng-if="showMoreComments" ng-click="nextPageComments()"/>
                                                    <div class="col-lg-12 mt-2">
                                                        <textarea rows="3" style="resize: none;" ng-model="challenge.commentText" class="form-control"></textarea>
                                                        <div class="col-lg-4 pl-0">
                                                                      <input class="form-control show-more" type="button" value="Post comment" ng-click="commentChallenge()"/>
                                                                  </div>
                                                    </div>
                                                    
                                                    </div>

                                                </div></div></div>

                                        <!--Other Completions-->
                                                <div class="col-lg-12 float-left mb-4 col-12 no-padd">
                                                 <div class="">
                                                 <!-- <div class="col-lg-6 col-12 float-left">
                                                 <div class="row"> -->
                                                        <h4 class="mb-0 mt-1 toggle-comments-click">See what others responded <img src="app/assets/img/challenge/arrow-right.png" class="float-right"></h4>
                                                       <div class="comments-wrapper">
                                                       <div class="col-lg-12 toggle-comments">
                                                        <p class="pt-3" ng-if="challengeClaims.length==0">No Activities found</p>
                                                           <div ng-repeat="claim in challengeClaims" class="com-top">
                                                            <div class="col-lg-2 col-2 col-sm-1 float-left comments-avatar">
                                                            <div class="row other-completion-comments-icon bg-theme-dark"  style="background-image:url({{claim.userPhotoLarge}})">
                                                                <img ng-src="{{}}" alt="" class="img-fluid">
                                                            </div>
                                                            </div>
                                                       
                                                            <div class="col-lg-8 col-8 col-sm-8 float-left comments-info pl-0">
                                                                <div class="">
                                                                    <h5>{{claim.userName}}</h5> 
                                                                <span>{{claim.createdAtFormatted}}</span>
                                                                <!-- <hr style="width: 100%;float: left;margin-top: 8px;margin-bottom:0;"> -->
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-2 col-2 col-sm-2 float-right comments-count">
                                                                <!-- <span class="text-right">+{{claim.points}}</span> -->
                                                            </div>
                                                            <div class="col-lg-12 col-12 float-left">
                                                                <div class="row">
                                                                    <figure class="comments-image">
                                                                        <img ng-src="{{claim.claimPhotoLarge}}" alt="">

                                                                    </figure>
                                                                    <div class="w-100">
                                                                        
                                                                    </div>
                                                                    <div class="col-lg-4 col-6">
                                                                        <ul class="float-left comment-votes">
                                                                            <li>{{claim.likeNo}} votes</li>
                                                                            <li>{{claim.commentNo}} comments</li>
                                                                        </ul>
                                                                    </div>
                                                                     <div class="col-lg-8 col-6 comments-like">
                                                                         <ul class="float-right">
                                                                            <!-- <li ng-click="updateRate($index,claim.id)" ng-class="claim.ratedLike?'active-like':''"><i class="fa fa-heart" aria-hidden="true"></i></li> -->
                                                                            <li data-toggle="collapse" data-target="#activityFeed{{$index}}" aria-expanded="false" ><i class="fa fa-comment-o" aria-hidden="true"></i></li>
                                                                        </ul>
                                                                    </div>
                                                                    <div class="collapse col-lg-12 mt-2"  id="activityFeed{{$index}}">
                                                                      <textarea  rows="5" style="resize: none;" class="form-control" ng-model="claim.comment"></textarea>
                                                                      <div class="col-lg-4 pl-0">
                                                                          <input class="form-control show-more" type="button" value="Post comment" ng-click="updateComment($index,claim.id,claim.comment)"/>
                                                                      </div>
                                                                  </div>
                                                                    
                                                                </div>
                                                                    <div class="comments-text">
                                                                        <p>{{claim.message}}</p>
                                                                    </div>
                                                            </div>
                                                        </div>
                                                        </div>
                                                       </div>

                                                    

                                                   </div>
                                                   </div>



                            </div>
                            <div class="col-lg-6 col-12 col-sm-6  float-left">
                                <div class="row right-content pt-1 bg-theme-dark border-radius">
                                    <h4 class="">{{challenge.title}}</h4>
                                    <p class="scroll footnote-arrow" >{{challenge.footnote}}<a class="footnote-next" ng-if="challenge.nextChallengeId" href="#/challenge?id={{challenge.nextChallengeId}}"><i class="fa fa-chevron-right"></i></a></p>
                                    <div class="w-100"></div>
                                </div>
                            </div>
                            </div>
                            <!-- <div class="row">
                            <div class="col-lg-6 col-sm-6 float-left">
                                
                            </div>

                            <div class="col-lg-6 col-sm-6 float-left">    
                                    
                                    
                                </div>
                            

                        </div> -->
                    </div>
                </div>

                <!-- Challenge - Type 4 & others -->
                <div class="row"  ng-if="challenge.challengeTypeId!=1 && challenge.challengeTypeId!=2 && challenge.challengeTypeId!=10 && challenge.challengeTypeId!=11">
                    <div class="col-lg-10 col-sm-12 col-12">
                        <div class="row">
                            <div class="col-lg-6 col-12 col-sm-6  float-left">
                                <!--Image-->
                                <div ng-if="!challenge.medias" style="position:relative" class="bg-theme  mb-3">
                                    <!-- <span class="challenge-points text-center" ng-if="challenge.points">{{challenge.points}} Points</span> -->
                                    <figure class="phots-feedback-big-icon"  style="background-image:url({{challenge.imageLarge}})">

                                        <!-- <img ng-src="{{}}" alt="" class="img-fluid"> -->
                                    </figure>
                                </div>
                                <!-- Media-->
                                    <div ng-if="challenge.medias" class=" mb-3" style="width:100%;float:left;">

                                        <!--PDF-->
                                        <div ng-if="challenge.medias[0].type=='PDF'" >
                                            
                                            <iframe ng-src="{{trustSrc('https://docs.google.com/gview?url='+challenge.medias[0].url+'&embedded=true')}}" width="100%" height="300" ></iframe>
                                        </div>

                                        <!--VIDEO-->
                                        <div ng-if="challenge.medias[0].type=='Video'" class="" style="width:100%;float:left;">
                                            <video controls height="100%" width="100%">
                                                <source ng-attr-src="{{trustSrc(challenge.medias[0].fileUrl)}}"  type='video/mp4' ></source>
                                               </video> 
                                            <!-- <iframe ng-src="{{challenge.medias[0].url}}" height="300" width="100%"></iframe> -->
                                        </div>
                                        <!-- <p ng-if="!challenge.repeat||challenge.claimed" >{{challenge.completionMessage}}</p> -->
                                    </div>

                                    <!--Quiz-->
                                    <div ng-if="!challenge.repeat&&challenge.claimed">
                                          <p class="completed-challenge-text"><img src="app/assets/img/challenge/tick-w.png">  Challenge Completed</p>
                                    </div>
                                    <!--Poll Multiselect-->
                                    <div ng-if="challenge.multiSelect">
                                        <ul class="list-challenge" >
                                        <li class="select-list mt-2 mb-3"  ng-repeat="quest in challenge.quizOptions" ng-class="(!challenge.repeat&&challenge.claimed?'answered-options':'')"   ng-if="!(challenge.claimed&&challenge.quizOptions.length==1)">
                                            <label ng-if="!challenge.repeat&&challenge.claimed">{{quest.title}}</label>
                                            <div class="md-checkbox md-checkbox1" ng-if="challenge.repeat||!challenge.claimed" >
                                                <input ng-click="selectClaim(quest.id,false)" id="{{check+$index}}" type="checkbox">
                                                <label for="{{check+$index}}"><span class="check-icon"></span><span>{{quest.title}}</span></label>
                                            </div>
                                        </li>
                                        </ul>
                                    </div>
                                    
                                    <!--Poll Singleselect-->
                                    <div ng-if="!challenge.multiSelect">
                                        <ul class="list-challenge list-challenge1" >
                                        <li ng-repeat="quest in challenge.quizOptions" class="mt-2 mb-3" ng-class="(!challenge.repeat&&challenge.claimed?'answered-options':'')"   ng-if="!(challenge.claimed&&challenge.quizOptions.length==1)">
                                             <label ng-if="!challenge.repeat&&challenge.claimed">{{quest.title}}</label>
                                            <input  ng-click="selectClaim(quest.id,true)"  ng-if="challenge.repeat||!challenge.claimed"  type="radio" name="selector" id="{{rad+$index}}" value={{quest.id}}>
                                            <label  ng-if="challenge.repeat||!challenge.claimed"  for="{{rad+$index}}"><span class="radio-icon"></span><span>{{quest.title}}</span></label>
                                            <div class="check"  ng-if="challenge.repeat||!challenge.claimed" ></div>
                                        </li>
                                        </ul>
                                    </div>  

                                 

                                    <!-- <form action="" method="get" accept-charset="utf-8">
                                        <button type="submit" ng-if="challenge.repeat||!challenge.claimed" class="btn submit-feed submit-point" ng-click="claimChallenge()">
                                            <img src="app/assets/img/get-point.png" alt="">
                                        </button>
                                    </form> -->

                                                <!--Comments-->

                                                <div class="col-lg-12 col-12 float-left mt-3 mb-4">
                                                    <div class="row">
                                                     <h4 class="mb-0 mt-1 comments-click">Comments <img src="app/assets/img/challenge/arrow-right.png" class="float-right"></h4>
                                                       <div class="comments-wrapper comments-wrapper1">
                                                     <div class="comments-challenge">
                                                    <ul ng-if="comments.length>0" class="comments">
                                                        <li ng-repeat="comment in comments">
                                                            <div class="other-completion-comments-icon bg-theme" style="background-image:url({{comment.photoLarge}})">
                                                            <!-- <img ng-src="{{}}"> -->
                                                                
                                                            </div>
                                                            <div class="user-comments">
                                                                <h5 class="ng-binding">{{comment.userName}}</h5>
                                                                <p class="ng-binding">{{comment.message}}</p>
                                                                <span class="ng-binding">{{comment.createdAtFormatted}}</span>
                                                              </div>

                                                        </li>
                                                    </ul>
                                                    <input type="button" class="btn submit-comments" value="load more" ng-if="showMoreComments" ng-click="nextPageComments()"/>
                                                    <div class="col-lg-12 mt-2">
                                                        <textarea rows="3" style="resize: none;" ng-model="challenge.commentText" class="form-control"></textarea>
                                                        <div class="col-lg-4 pl-0">
                                                                      <input class="form-control show-more" type="button" value="Post comment" ng-click="commentChallenge()"/>
                                                                  </div>
                                                    </div>
                                                    
                                                    </div>

                                                </div></div></div>

                                        <!--Other Completions-->
                                                <div class="col-lg-12 float-left mb-4 col-12 no-padd">
                                                 <div class="">
                                                 <!-- <div class="col-lg-6 col-12 float-left">
                                                 <div class="row"> -->
                                                        <h4 class="mb-0 mt-1 toggle-comments-click">See what others responded <img src="app/assets/img/challenge/arrow-right.png" class="float-right"></h4>
                                                       <div class="comments-wrapper">

                                                       <div class="col-lg-12 toggle-comments">
                                                        <p class="pt-3" ng-if="challengeClaims.length==0">No Activities found</p>
                                                           <div ng-repeat="claim in challengeClaims" class="com-top">
                                                            <div class="col-lg-2 col-2 col-sm-1 float-left comments-avatar">
                                                            <div class="row other-completion-comments-icon bg-theme-dark">
                                                                <img ng-src="{{claim.userPhotoLarge}}" alt="" class="img-fluid">
                                                            </div>
                                                            </div>
                                                       
                                                            <div class="col-lg-8 col-8 col-sm-8 float-left comments-info pl-0">
                                                                <div class="">
                                                                    <h5>{{claim.userName}}</h5> 
                                                                <span>{{claim.createdAtFormatted}}</span>
                                                                <!-- <hr style="width: 100%;float: left;margin-top: 8px;margin-bottom:0;"> -->
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-2 col-2 col-sm-2 float-right comments-count">
                                                                <!-- <span class="text-right">+{{claim.points}}</span> -->
                                                            </div>
                                                            <div class="col-lg-12 col-12 float-left">
                                                                <div class="row">
                                                                    <figure class="comments-image">
                                                                        <img ng-src="{{claim.claimPhotoLarge}}" alt="">

                                                                    </figure>
                                                                    <div class="w-100">
                                                                        
                                                                    </div>
                                                                    <div class="col-lg-4 col-6">
                                                                        <ul class="float-left comment-votes">
                                                                            <li>{{claim.likeNo}} votes</li>
                                                                            <li>{{claim.commentNo}} comments</li>
                                                                        </ul>
                                                                    </div>
                                                                     <div class="col-lg-8 col-6 comments-like">
                                                                         <ul class="float-right">
                                                                            <!-- <li ng-click="updateRate($index,claim.id)" ng-class="claim.ratedLike?'active-like':''"><i class="fa fa-heart" aria-hidden="true"></i></li> -->
                                                                            <li data-toggle="collapse" data-target="#activityFeed{{$index}}" aria-expanded="false" ><i class="fa fa-comment-o" aria-hidden="true"></i></li>
                                                                        </ul>
                                                                    </div>
                                                                    <div class="collapse col-lg-12 mt-2"  id="activityFeed{{$index}}">
                                                                      <textarea  rows="5" style="resize: none;" class="form-control" ng-model="claim.comment"></textarea>
                                                                      <div class="col-lg-4 pl-0">
                                                                          <input class="form-control show-more" type="button" value="Post comment" ng-click="updateComment($index,claim.id,claim.comment)"/>
                                                                      </div>
                                                                  </div>
                                                                    
                                                                </div>
                                                                    <div class="comments-text">
                                                                        <p>{{claim.message}}</p>
                                                                    </div>
                                                            </div>
                                                        </div>
                                                        </div>
                                                       </div>

                                                    

                                                   </div>
                                                   </div>



                            </div>
                            <div class="col-lg-6 col-12 col-sm-6  float-left">
                                <div class="row right-content pt-1 bg-theme-dark  border-radius">
                                    <h4 class="">{{challenge.title}}</h4>
                                    <p class="scroll footnote-arrow" >{{challenge.footnote}}<a class="footnote-next" ng-if="challenge.nextChallengeId" href="#/challenge?id={{challenge.nextChallengeId}}"><i class="fa fa-chevron-right"></i></a></p>
                                    <div class="w-100"></div>
                                </div>
                            </div>
                            </div>
                            <!-- <div class="row">
                            <div class="col-lg-6 col-sm-6 float-left">
                                
                            </div>

                            <div class="col-lg-6 col-sm-6 float-left">    
                                    
                                    
                                </div>
                            

                        </div> -->
                    </div>
                </div>

                </div>
				</div>

                

            </div>

        </div>
    </div>
    <!-- </div> -->
    <!-- </div> -->
</div>

<button style="display:none" id="confirmation" data-target="#exampleModal" data-toggle="modal" ng-click="alert('click')"></button>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
 <div class="modal-dialog" role="document">
   <div class="modal-content">
     <div class="modal-header">
       <h5 class="modal-title" id="exampleModalLabel">Congratulations!</h5>
       <button type="button" class="close" data-dismiss="modal" aria-label="Close">
         <span aria-hidden="true">&times;</span>
       </button>
     </div>
     <div class="modal-body">
	  <div class="mb-2 mt-3 text-center text-bold h5">Completed Successfully</div>
      <div ng-if="challenge.badges.length>0">
        <h4 class="mb-2 mt-3 text-center">You have been awarded</h4>
        <ul class="diamond-list text-center">
            <li ng-repeat="achievement in challenge.badges" style="background-image:url({{achievement.imageLarge}})">
             <!-- <div class="diamond-list-icon">
                <img ng-src="{{achievement.imageLarge}}" alt="">
        </div> -->
            </li>
        </ul>
      </div>
      <p class="challenge-success text-left">
		<br><br>
		<span>{{challenge.completionMessage}}</span>
	  </p>
     </div>
     <div class="modal-footer">
       <button type="button" class="btn btn-primary" data-dismiss="modal"  ng-click="refresh()">Ok</button>
     </div>
   </div>
 </div>
 </div>


