<div ng-include="'app/shared_components/partials/mobile-menu.html'" >
                        
                    </div>
    <div class="container-fluid">
        <!-- <div class="table-class"> -->
        <!-- <div class="center-screen"> -->
        <div class="">
            <div class="row">
                <div class="col-md-1 text-center welcome-txt mt-5">
                    <img src="app/assets/img/switch-pose.png" class="wel-mini">
                    <img src="app/assets/img/home/welcome-txt.png" alt="" class="img-fluid">
                </div>
                <div class="col-md-1 pl-0 mob-hide">
                    <div class="mt-0 col-md-12 mb-4">
                        <a href="#/home"><img src="app/assets/img/home/home-icon.png" alt="" class="menu-active"></a>
                    </div>
                    <div ng-include="'app/shared_components/partials/menu.html'" class="main-menu">
                        
                    </div>
                </div>
                <div class="col-md-12 col-lg-10 mb-5">
                    <div class="">
                        <div class="breadcrumb-txt mb-4">
                            <h3>LEADERBOARD</h3>
                        </div>
                        <div class="w-100">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-lg-6">
                         <div class="row">
                             <div class="col-md-12 col-lg-12 leader-left bg-theme float-left">
                                 <div class="row">
                            <div class="mb-4 pt-3 col-md-12">
                                <h3 class="col-md-4 pt-2 float-left">INDIVIDUAL</h3>
                            <div class="search-container col-md-8 float-right" ng-if="individualboard.show">
                             <input type="text" class="search-text float-right" placeholder="Search by Name"  ng-model="individualboard.keywords"/>
                             <span class="clear-btn" data-ng-click="individualboard.keywords='';loadMoreData('individual','search');" ng-if=" individualboard.keywords!=''">X</span> 
                             <input type="button" value="" class="search-btn" ng-click="loadMoreData('individual','search')"/>
                            </div>
                            </div>
                                    <div class="w-100"></div>
                                     <div class="col-xl-12 col-md-12 col-lg-6 full-width-large float-left" ng-repeat="indi in individual.mainBoard">
                                             <div class="leader-wrapper"  ng-class="individual.id==userId?'leader-wrapper-active':''">
                                                 <div class="col-md-1 col-sm-1 float-left leader-left-count">
                                                 
                                                 <h4 ng-if="indi.points!=individual.mainBoard[$index-1].points" ><span style="display:none">{{(indi.points!=individual.mainBoard[$index-1].points)?individual.repeatrank=indi.rank:individual.repeatrank=''}}</span>{{indi.rank}}</h4>
                                                
                                                 <h4 ng-if="indi.points==individual.mainBoard[$index-1].points" class="hidden-rank">{{individual.repeatrank}}</h4>
                                                 
                                             </div>
                                             <div class="col-md-2 float-left text-center col-sm-1">
                                                <div class="avatar-icon-leader" style="background-image:url({{(indi.photolarge==''||indi.photolarge==null)?'app/assets/img/Profile_Ind_circle.png':indi.photolarge}})" ng-click="gotoProfile(indi.id)">

                                                    <!-- <a href="#/profile?id={{indi.id}}"> -->
                                                     <!-- <img ng-src="{{}}" alt=""> -->
                                                    <!-- </a> -->
                                                 </div>
                                             </div>
                                             <div class="col-md-5 float-left leader-left-info">
                                                 <p  ng-click="gotoProfile(indi.id)">{{indi.name}}</p>
                                                 <h5>LEVEL {{indi.level}}</h5>
                                             </div>
                                             <div class="col-md-4 float-left leader-left-points pull-right  col-sm-6">
                                                 <h2 class="text-right text-shadow">{{indi.points}}</h2>
                                             </div>
                                             </div>
                                             <div class="w-100">
                                                 
                                             </div>
                                             <img src="app/assets/img/leader-border.png" alt="" class="img-fluid border-leader" ng-if="indi.points!=individual.mainBoard[$index+1].points">
                                     </div>

                                     <div class="w-100 clearfix">
                                         
                                     </div>
                                     <div ng-show="individual.morepage" style="width: 100%">
                                         <img src="app/assets/img/triple-dot.png" alt="" class="triple-dot" ng-if="individualboard.show==false" ng-click="loadMoreData('individual')">
                                     </div>
                         
                         <!-- <input type="button" value="Reset" ng-if="individualboard.show" class="float-right btn submit-comments" ng-click="resetIndividual()"/> -->
                                 </div>
                             </div>
                              <div class="col-md-12 col-lg-12 leader-left bg-theme bg-theme-full-width">
                                 <div class="row">

                                    <div class="w-100"></div>
                                     <div class="col-xl-12 col-md-6 col-lg-6 full-width-large" ng-repeat="indi in individual.userBoard track by $index">
                                             <div class="leader-wrapper"  ng-class="indi.id==userId?'leader-wrapper-active':''">
                                                 <div class="col-md-1 float-left col-sm-1 leader-left-count">
                                                 
                                                 <h4 ng-if="indi.points!=individual.userBoard[$index-1].points" ><span style="display:none">{{(indi.points!=individual.userBoard[$index-1].points)?individual.repeatrank=indi.rank:individual.repeatrank=''}}</span>{{indi.rank}}</h4>
                                                
                                                 <h4 ng-if="indi.points==individual.userBoard[$index-1].points" class="hidden-rank">{{individual.repeatrank}}</h4>
                                             </div>
                                             <div class="col-md-2 float-left text-center col-sm-1 absbgimg">
                                                 <img ng-repeat="i in indi.subinfo | limitTo:3" src="{{i.photoSmall}}" />
                                                 <div class="avatar-icon-leader" style="background-image:url({{(indi.photolarge==''||indi.photolarge==null)?'app/assets/img/Profile_Ind_circle.png':indi.photolarge}})" ng-click="gotoProfile(indi.id)">
                                                     <!-- <img ng-src="{{indi.photoLarge}}" alt=""> -->
                                                 </div>
                                             </div>
                                             <div class="col-md-5 float-left leader-left-info">
                                                 <p  ng-click="gotoProfile(indi.id)">{{indi.name}}</p>
                                                 <h5>LEVEL {{indi.level}}</h5>
                                                 <p data-toggle="modal"  ng-click="loadSubUserList(indi,'individuals')" data-target="#myModal" ng-if="indi.subinfo.length>0">+ {{indi.subinfo.length}} members</p>
                                             </div>
                                             <div class="col-md-4 leader-left-points pull-right  col-sm-6">
                                                 <h2 class="text-right text-shadow">{{indi.points}}</h2>
                                             </div>
                                             </div>
                                             <div class="w-100">
                                                 
                                             </div>
                                             <img src="app/assets/img/leader-border.png" alt="" class="img-fluid border-leader" ng-if="indi.points!=individual.userBoard[$index+1].points">
                                     </div>

                                     <div class="w-100">
                                         
                                     </div>
                                     <div class="col-md-12">
                                     <img src="app/assets/img/triple-dot.png" alt="" class="triple-dot" ng-if="individual.more && individualboard.show" ng-click="loadMoreData('individual')"/>
                                     <p ng-if="individualboard.show && individual.userBoard.length==0" class="placeholder-label">No relevant data found</p>
                                     <input type="button" value="Reset" ng-if="individualboard.show" class="btn submit-comments float-right" ng-click="resetIndividual()"/>
                                    </div>
                                 </div>
                             </div>
                         </div>
                        </div>
                        <div class="col-lg-6 col-md-12 bg-theme">
                         <div class="">
                             <div class="col-md-12 col-sm-12 leader-left col-lg-12">
                                 <div class="row">
                            <div class=" pt-3 col-md-12 mb-4"><h3 class="col-md-4 pt-2 float-left">TEAM</h3>
                            <div class="search-container col-md-8 float-right" ng-if="teamboard.show">
                                         <input type="text" class="search-text float-right" placeholder="Search by Team"  ng-model="teamboard.keywords"/>
                                         <span class="clear-btn" data-ng-click="teamboard.keywords='';loadMoreData('team','search');" ng-if=" teamboard.keywords!=''">X</span>  
                                         <input type="button" value=""  class="search-btn" ng-click="loadMoreData('team','search')"/>
                                     </div>
                                 </div>
                                    <div class="w-100"></div>
                                     <div class="col-xl-12 col-md-6 col-lg-6 full-width-large float-left" ng-repeat="tm in team.mainBoard">

                                             <div class="leader-wrapper"  ng-class="tm.id==userTeam.id?'leader-wrapper-active':''">
                                                 <div class="col-md-1 col-sm-1 float-left leader-left-count">
                                                 
                                                 <h4 ng-if="tm.points!=team.mainBoard[$index-1].points" ><span style="display:none">{{(tm.points!=team.mainBoard[$index-1].points)?team.repeatrank=tm.rank:individual.repeatrank=''}}</span>{{tm.rank}}</h4>
                                                
                                                 <h4 ng-if="tm.points==team.mainBoard[$index-1].points" class="hidden-rank">{{team.repeatrank}}</h4>
                                             </div>
                                             <!-- <div class="col-md-2 text-center col-sm-1">
                                                 <div class="avatar-icon-leader">
                                                     <img src="app/assets/img/home/avatar.png" alt="">
                                                 </div>
                                             </div> -->
                                             <div class="col-md-7 float-left leader-left-info team-left-info">
                                                 <p ng-click="gotoTeam(tm.id)">{{tm.name}}</p>
                                                 <!-- <h5>LEVEL {{team.level}}</h5> -->
                                             </div>
                                             <div class="col-md-4 float-left leader-left-points pull-right col-sm-6">
                                                 <h2 class="text-right text-shadow">{{tm.points}}</h2>
                                             </div>
                                             </div>
                                             <div class="w-100">
                                                 
                                             </div>
                                             <img src="app/assets/img/leader-border.png" alt="" class="img-fluid border-leader" ng-if="tm.points!=team.mainBoard[$index+1].points">
                                     </div>
                                      
                                     <div class="w-100">
                                         
                                     </div><!-- ng-if="team.teamBoard.length>0 && teamboard.show==false" -->
                                     <div ng-show="team.morepage" style="width: 100%">
                                         <img src="app/assets/img/triple-dot.png" ng-if="teamboard.show==false" alt="" class="triple-dot" ng-click="loadMoreData('team')">
                                     </div>
                                  
                                      <div class="col-md-12">
                                      
                                      <!-- <input type="button" value="Reset" ng-if="teamboard.show" class="float-right btn submit-comments" ng-click="resetTeam()"/> -->
                                    </div>
                                 </div>
                             </div>
                              <div class="col-md-12 col-sm-12 leader-left col-lg-12">
                                 <div class="row">
                            
                                    <div class="w-100"></div>
                                     <div class="col-xl-12 col-md-6 col-lg-6 float-left" ng-repeat="tm in team.teamBoard">
                                             <div class="leader-wrapper"  ng-class="tm.id==userTeam.id?'leader-wrapper-active':''">
                                                 <div class="col-md-1 col-sm-1 float-left leader-left-count">
                                                 
                                                 <h4 ng-if="tm.points!=team.teamBoard[$index-1].points" ><span style="display:none">{{(tm.points!=team.teamBoard[$index-1].points)?team.repeatrank=tm.rank:individual.repeatrank=''}}</span>{{tm.rank}}</h4>
                                                
                                                 <h4 ng-if="tm.points==team.teamBoard[$index-1].points" class="hidden-rank">{{team.repeatrank}}</h4>
                                             </div>
                                             <!-- <div class="col-md-2 float-left text-center col-sm-1">
                                                 <div class="avatar-icon-leader">
                                                     <img src="app/assets/img/home/avatar.png" alt="">
                                                 </div>
                                             </div> -->
                                             <div class="col-md-7 float-left leader-left-info team-left-info">
                                                 <p  ng-click="gotoTeam(tm.id)">{{tm.name}}</p>
                                                 <p data-toggle="modal" ng-click="loadSubUserList(tm,'teams')" data-target="#myModal" ng-if="tm.subinfo.length>0">+ {{tm.subinfo.length}} members</p>
                                             </div>
                                             <div class="col-md-4 float-left leader-left-points pull-right col-sm-6">
                                                 <h2 class="text-right text-shadow">{{tm.points}}</h2>
                                             </div>
                                             </div>
                                             <div class="w-100">
                                                 
                                             </div>
                                             <img src="app/assets/img/leader-border.png" alt="" class="img-fluid border-leader" ng-if="tm.points!=team.teamBoard[$index+1].points">
                                             
                                     </div>
                                      
                                     <div class="w-100">
                                         
                                     </div>
                                     <div class="col-md-12" style="width: 100%">
                                     <img src="app/assets/img/triple-dot.png" alt="" class="triple-dot" ng-if="team.more && teamboard.show" ng-click="loadMoreData('team')"/>
                                     <p ng-if="teamboard.show && team.teamBoard.length==0" class="placeholder-label">No relevant data found</p>
                                     <input type="button" value="Reset" ng-if="teamboard.show" class="btn submit-comments float-right" ng-click="resetTeam()"/>
                                    </div>

                                 </div>
                             </div>
                         </div>
                        </div>
                    </div>
                </div>
               
            </div>
        </div>
        <!-- </div> -->
        <!-- </div> -->
    </div>
    <!-- </div> -->
    <!-- </div> -->

<!-- Modal -->
<div class="modal fade modal1" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content leaderboard-modal">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{subUserList.rank}} position  -  {{subUserList.subinfo.length}} {{subUserList.mode}} <span>{{subUserList.points}}</span></h5>
        <p>LEVEL {{subUserList.level}}</p>
        <img src="app/assets/img/close-icon.png"  data-dismiss="modal" aria-label="Close" class="close close1" alt="">
      </div>
      <div class="modal-body">
        <ul class="popop-list">
            <li ng-repeat="user in subUserList.subinfo"><span style=" background-image: url({{user.photoLarge}}); " ng-if="subUserList.mode=='individuals'"></span> <h5>{{user.name}}</h5></li>
        </ul>
      </div>
    </div>
  </div>
</div>

 


