<ul class="mb-0"  ng-controller="menuController">
                            <li><a href="#/home"><img src="app/assets/img/nav/home.png" alt=""></a></li>
                            <li><a href="#/profile"><img src="app/assets/img/nav/profile.png" alt=""></a></li>
                            <li><a href="#/leaderboard"><img src="app/assets/img/nav/leaderboard.png" alt=""></a></li>
                            <li class="pos-rel"><a href="#/videos"><span class="menu-badge" ng-if="unCompletedVideos!==0">{{unCompletedVideos}}</span><img src="app/assets/img/nav/videos.png" alt=""></a></li>
                            <li class="pos-rel"><a href="#/challenges"><span class="menu-badge" ng-if="unCompletedChallenges!==0">{{unCompletedChallenges}}</span><img src="app/assets/img/nav/challenges.png" alt=""></a></li>
                            <li class="li-bg-white"><a  href="#/rewards"><img src="app/assets/img/nav/rewards.png" alt=""></a></li>
                            <li class="li-bg-white"><a href="#/help"><img src="app/assets/img/nav/help.png" alt=""></a></li>
                            <li class="li-bg-white"><a href="#/activities"><img src="app/assets/img/nav/activity-feed.png" alt=""></a></li>
                            <li class="li-bg-white"><a href="#/feedback"><img src="app/assets/img/nav/feedback.png" alt=""></a></li>
                        </ul>

