<div class="container container-hamburger">
  <div class="hamburger-wrapper">
    <div class="hamburger">
      <span class="hamurger-first"></span>
      <span class="hamurger-second"></span>
      <span class="hamurger-third"></span>
    </div>
    <div class="hamburger-menu">
      <ul class="main-links">
        <li class="delay02"><a href="#"><img src="app/assets/img/ham/home.png">  Home</a></li>
        <li class="delay03"><a href="#"><img src="app/assets/img/ham/profile.png">  Profile</a></li>
        <li class="delay04"><a href="#"><img src="app/assets/img/ham/leaderboard.png">  Leaderboard</a></li>
        <li class="delay05"><a href="#"><img src="app/assets/img/ham/videos.png">  Videos</a></li>
        <li class="delay06"><a href="#"><img src="app/assets/img/ham/challenges.png">  Challenges</a></li>
        <li class="delay07"><a href="#"><img src="app/assets/img/ham/rewards.png">  Rewards</a></li>
        <li class="delay08"><a href="#"><img src="app/assets/img/ham/help.png">  Help</a></li>
        <li class="delay09"><a href="#"><img src="app/assets/img/ham/feed.png">  Activity Feedback</a></li>
        <li class="delay1"><a href="#"><img src="app/assets/img/ham/feedback.png">  Feedback</a></li>
      </ul>
    </div>
  </div>
</div>