<div id="main" role="main">
    <section class="slider">
        <div id="slider" class="flexslider">
            <ul class="slides">
                <li>
                    <button class="btn-skip" ng-click="closetour()"></button>
                    <img src="app/assets/img/tour/Screen-1.png" />
                </li>
                <li>
                    <button class="btn-skip" ng-click="closetour()"></button>
                    <img src="app/assets/img/tour/Screen-2.png" />
                </li>
                <li>
                    <button class="btn-skip" ng-click="closetour()"></button>
                    <img src="app/assets/img/tour/Screen-3.png" />
                </li>
                <li>
                    <button class="btn-skip" ng-click="closetour()"></button>
                    <img src="app/assets/img/tour/Screen-4.png" />
                </li>
                <li>
                    <button class="btn-finish" ng-click="closetour()"></button>
                    <img src="app/assets/img/tour/Screen-5.png" />
                </li>
            </ul>
        </div>
    </section>
</div>


