<header>
    <div class="container-fluid">
        <div class="row justify-content-between">
            <div class="col-sm-4 col-lg-3 col"><a href="javascript:;" class="main-logo">
            <img src="app/assets/img/logo.png" alt=""></a></div>
            <!-- <div class="col-sm-4 col-lg-3 col"><a href="#/register" class="signup-btn">Sign Up</a></div> -->
        </div>
    </div>
</header>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-8 col-md-8 col-lg-6">
            <div class="login-box">
                <img src="app/assets/img/switch-logo.svg" alt="" class="img-fluid switch-logo">
                <form name="login" ng-submit="verifyLogin()" autocomplete="off">
                    <div class="login-bg">
                        <div class="form-group res-frm">
                            <input type="text" class="form-control frm-name" autocomplete="off" placeholder="Username (e.g. myemail@petronas.com)" ng-model="login.email" name="username" ng-pattern="/^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/">
                            <img src="app/assets/img/username-frm.png" alt="" class="frm-name-icon">
                        </div>
                        <div class="form-group frm-passwrd-pass">
                            <input type="password" class="form-control frm-passwrd" autocomplete="new-password" placeholder="Password" ng-model="login.password" name="userpassword">
                            <img src="app/assets/img/pass-frm.png" alt="" class="frm-name-icon">
                        </div>
                    </div>
                    <!-- <p class="white-color"><a href="https://switch.petronas.com/web/resetyourpassword" target="_blank" class="f-pwd">Don't have an account or Forgot your password?</a><br /> -->
                    <p class="white-color">
                        <a href="" target="_blank" class="forgot-pass inline" data-target="#fp-emial" data-toggle="modal" ng-click="openpopup()"><span><img class="attention" src="app/assets/img/att.png" /></span>Forgot Password</a>
                        <br />
                        New User ? <a href="" ng-click="opensignup()">Sign up</a> Here
                        <input type="submit" value="Enter" class="btn enter-btn" style="cursor:pointer; margin-top: 15px;"/>
                    </p>
                </form>
            </div>
            <div class="align-self-end sw-l-right"><img src="app/assets/img/switch-pose.png" class="img-fluid" alt=""></div>
        </div>
    </div>
</div>
<button style="display:none" id="confirmation" data-target="#fp-reset" data-toggle="modal"></button>
<!-- Popup for Forgot Password -->
<div class="modal fade fp-pop" id="fp-emial" role="dialog" ng-show="showfrgpwd">
    <div class="modal-dialog" style="width: 53%;">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Forgot Password</h4>
                <button type="button" class="close" data-dismiss="modal" ng-click="closeemailpop()">&times;</button>
            </div>
            <div class="modal-body">
                <p class="text-center">Please enter your email address to retrieve your password.
                    <br />We will email you a OTP details to reset your password.</p>
                <form>
                    <label class="simple-label">Email address</label>
                    <input type="text" class="simple-txtbox form-control" ng-model="emailid" placeholder="enter your email address">

                    <span class="" style="display: block; color: #f00!important;" ng-show="errormail == true">Enter a registered email id</span>

                    <a href="javascript:;" class="f-submit" data-target="#fp-otp" data-toggle="modal" ng-click="submitemail()">Submit</a>
                </form>
                
            </div>
            <!-- <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div> -->
        </div>
    </div>
</div>
<!-- OTP Popup -->
<div class="modal fade fp-pop" id="fp-otp" role="dialog" ng-show="showoptpop">
    <div class="modal-dialog" style="width: 53%;">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Enter one time password (OTP)</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p class="text-center">One time password(OTP) has been sent to your registered mail ID </p>
                <form>
                    <label class="simple-label">Verify OTP</label>
                    <input type="text" ng-model="Otpval" class="simple-txtbox" placeholder="Enter OTP">
                    
                    <span class="" style="display: block; color: #f00!important;" ng-show="erroropt == true">Enter a valid OTP</span>

                    <a href="" class="f-submit" ng-click="cnfrmotp()">Submit</a>
                </form>
               
            </div>
            <!-- <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div> -->
        </div>
    </div>
</div>
<!-- Reset Password Popup -->
<div class="modal fade fp-pop" id="fp-reset" role="dialog" ng-show="shownewpasswordpop">
    <div class="modal-dialog" style="width: 53%;">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Reset your Password</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form>
                    <label class="simple-label mt-0">New Password</label>
                    <input type="text" class="simple-txtbox" placeholder="enter new password" ng-model="newpassword">
                    <p class="sub-txt-sm">8- character minimum, case sensitive</p>
                    <label class="simple-label">Confirm Password</label>
                    <input type="text" class="simple-txtbox" placeholder="enter password again" ng-model="cnfmnewpassword">

                    <span style="display:block; color: #f00!important;" ng-show="pwderror == true">New password and Confirm password should be same</span>

                    <br> <span style="display:block; color: #f00!important;" ng-show="pwdlengtherror == true">Password should be 8 character minimum</span>

                    <a href="" class="f-submit" ng-click="changepasswrd()">Login</a>
                </form>

            </div>
            <!-- <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div> -->
        </div>
    </div>
</div>