
    <!-- header start-->
    <header class="main-header">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="row">
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="fix-top-bar col-md-12 col-sm-12 col-lg-12">
                        <div class="navbar-header">
                            <a class="navbar-brand logohome" href="#."></a>
                            <div class="bread-crum">
                                <!-- <h3 class="active-page"><a href="#.">Signup</a></h3> -->
                            </div>
                        </div>
                    </div>
                    <!-- /.navbar-collapse -->
                </div>
            </div>
        </nav>
    </header>
    <!-- /header -->
    <!-- header end -->

    <div class="container-fluid" id="signup">
        <div class="row login-section">
            <div class="col-md-8 col-xs-12 col-sm-12" style="float: none;margin:0 auto">
            <div class="row">
                <div class="col-md-12"><h3>Signup</h3></div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="login-left">
                        <img class="img-responsive" src="app/assets/img/switch-pose.png" alt="Technology Consulting Edge" width="80%">
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="container-login-form">
                        <form name="signupuser" novalidate>
                            <div class="group">
                                <label>Username<span style="color:red">*</span></label>
                                <input type="text" name="name" ng-model="firstname" required='required' class="form-control">
                                
                                <div class="" ng-show="signupuser.$submitted || signupuser.name.$touched">
                                    <span class="required-red" style="color: #f00!important;" ng-show="signupuser.name.$error.required ">Enter Name</span>
                                </div>

                            </div>

                            <!-- <div class="group">
                                 <label>Last Name</label>
                                 <input type="text" class="form-control" ng-model="lastname">
                            </div> -->

                            <div class="group">
                                <label>Email ID<span style="color:red">*</span></label>
                                <input type="text" class="form-control" ng-model="emailid" name="email" ng-pattern="/^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/" required>
                                <div class="" ng-show="signupuser.$submitted || signupuser.email.$touched">
                                    <span class="required-red" style="color: #f00!important;" ng-show="signupuser.email.$error.required">Enter e-mail</span>
                                    <span class="required-red" style="color: #f00!important;" ng-show="signupuser.email.$error.pattern">Enter a valid e-mail id</span>
                                </div>
                            </div>

                            <div class="group">
                                <label>Employee ID</label>
                                <input type="text" class="form-control" ng-model="employeeid">
                            </div>

                            <div class="group">
                                <label>Date of Birth</label>
                                <input type="text" id="config-demo" class="form-control">
                            </div>
                                                       
                        </form>
                        <div class="last-btns">
                            <a href="#." class="can-btn">Cancel</a>
                            <button class="sup-btn" type="submit" ng-click="signup(signupuser)">Sign Up </button>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
    
    <button style="display:none" id="confirmation" data-target="#signupModal" data-toggle="modal" ng-click="alert('click')"></button>
 <div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
         <div class="modal-dialog" role="document">
           <div class="modal-content">
             <div class="modal-header">
               <h5 class="modal-title" id="exampleModalLabel">Switch Registration</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                 <span aria-hidden="true">&times;</span>
               </button>
             </div>
             <div class="modal-body">    
              <p class="challenge-success text-left">
                <br><br>
                <span>Thank you for registering. Your request has been sent to the SWITCH team for approval. You will receive a confirmation email once your request is approved. Thank you!</span>
              </p>
             </div>
         <div class="modal-footer">
             <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="finishsignup()">Ok</button>
         </div>
         </div>
     </div>
 </div>

   

  