<div ng-include="'app/shared_components/partials/mobile-menu.html'" >
                        
                    </div>
<div class="container-fluid">
    <!-- <div class="table-class"> -->
    <!-- <div class="center-screen"> -->
         

    <div class="">
        <div class="row">
            <div class="col-md-1 text-center welcome-txt mt-5">
                 <img src="app/assets/img/switch-pose.png" class="wel-mini">
                <img src="app/assets/img/home/welcome-txt.png" alt="" class="img-fluid">
            </div>
            <div class="col-md-1 pl-0 mob-hide">
                <div class="mt-0 col-md-12 mb-4">
                    <a href="#/home"><img src="app/assets/img/home/home-icon.png" alt="" class="menu-active"></a>
                </div>
                <div ng-include="'app/shared_components/partials/menu.html'" class="main-menu">
                </div>
            </div>
            <div class="col-md-12 col-lg-10 scroll pl-0 profile-sample" >
                

                <div class="col-lg-12 col-sm-6 float-left">
                    <div class="row">
                
                
                    
                    <div class="col-lg-12 float-left team-wrapper" >
                    <div class="">
                        <h4 class="text-left  mb-3" style="text-transform:capitalize">{{screenName}}</h4>

                        <ul class="team-fire-icon">
                            <li ng-click="goToProfile(user.userid)" ng-repeat="user in teamUsers" class="mb-3 avatar-icon bg-black-layer" data-content="<div class='bg-level'>
                                <ul>
            <li class='bg-level-name'><img src='{{(user.userphoto==''||user.userphoto==null)?'app/assets/img/Profile_Ind_circle.png':user.userphoto}}'/> {{user.firstname}}</li>
            
        </ul></div>" data-toggle="popover" style="background-image:url({{(user.userphoto==''||user.userphoto==null)?'app/assets/img/Profile_Ind_circle.png':user.userphoto}})">
        <!-- <li class='bg-level-points'><img src='app/assets/img/profile/dot.png'> {{user.points}} <small>Points</small></li> -->
                               <!--  <a href="#/profile?id={{user.id}}"> -->
                               <!-- <img data-content="<div class='bg-level' style='height:85px'>
                                <ul>
            <li class='bg-level-name'><img src='{{user.photoSmall}}'/> {{user.name}}</li>
            <li class='bg-level-level'><img src='app/assets/img/profile/arrow.png'> LEVEL {{user.level}}</li>
            
        </ul></div>" data-toggle="popover" ng-src="{{user.photoLarge}}" alt=""> -->
                            <!-- </a> -->
                             <!-- <li class='bg-level-points'><img src='app/assets/img/profile/dot.png'> {{user.points}} <small>Points</small></li> -->

                            <!-- </li>
                        </ul> -->

                    </div>
                    </div>


            </div>
        </div>
    </div>

        </div>
    </div>
    <!-- </div> -->
    <!-- </div> -->


</div>