<div ng-include="'app/shared_components/partials/mobile-menu.html'">
</div>
<div class="container-fluid">
    <!--<div class="logout-btn switch-me">
        <a href="#/rewards">Switch Me Up!</a>
    </div>-->
    <div class="row">
        <div class="col-12 col-md-12 visible-mob" data-toggle="modal" data-target="#exampleModal">
            <div class="logout-btn" value="logout">
                <!-- <input type="button" value="logout" ng-click="logout()" class="form-control logout-btn" /> -->
                <img src="app/assets/img/logout.png" alt="">
            </div>
        </div>
    </div>
    <!-- <div class="table-class"> -->
    <!-- <div class="center-screen"> -->
    <div class="row">
        <div class="col-md-1 col-lg-1 text-center welcome-txt mt-5">
            
        </div>
        <div class="col-md-1 pl-0 mob-hide">
            <div ng-include="'app/shared_components/partials/menu.html'" class="main-menu">
            </div>
        </div>
        <div class="scroll col-lg-10 float-left">
            <div class="col-lg-12 col-12 col-md-12 float-left pr-0">
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-6 breadcrumb-txt mb-4 mr-0">
                        <h3>HOME</h3>
                    </div>
                    <div class="col-12 col-md-5 col-lg-6 hidden-mob float-left">
                        <div class="logout-btn" value="logout" data-toggle="modal" data-target="#exampleModal">
                            <!-- <input type="button" value="logout" ng-click="logout()" class="form-control logout-btn" /> -->
                            <img src="app/assets/img/logout.png" alt=""> <span class="text-shadow">LOGOUT</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 float-left">
              <div class="row">
                <div class="col-lg-6 float-left">
                  <div class="bg-home">
                <div class="col-lg-4 pl-0 float-left">
                      <div class="circle-progress yellow">
                <span class="progress-left">
                    <span class="progress-bar"  ng-style="progressBarLeft" ></span>
                </span>
                <span class="progress-right">
                    <span class="progress-bar" ng-style="progressBarRight" ></span>
                </span>
                <div class="avatar-icon bg-black-layer" style="background-image:url({{photo.sm}})">
                  <!-- <img src=""> -->
                </div>
            </div>
                </div>
         <div class="col-lg-8 float-left">
              <div class="home-user-info">
              <h4>{{username}}</h4>
              <h2>LEVEL <span>{{level}}</span></h2>
              <div class="mid-line">
                <img src="app/assets/img/new-home/border.png">
              </div>
              <div class="redeem-points float-left">
                <h5>Redeemable Points</h5>
              <h1>{{points}}</h1>
              </div>
              <span class="float-left redeem-span"><a class="white-color" href="#/rewards">REDEEM NOW</a></span>
               <div class="mid-line">
                <img src="app/assets/img/new-home/border.png">
              </div>
              <div class="accumulated-wrap">
                <img src="app/assets/img/new-home/redeem.png">
                <div class="progress-bar-notify">
                <span>Accumulated Points</span>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" ng-style="progressCss" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 98%;"></div>
                </div>
            </div>
            <div class="progess-status no-padd">
            <p class="ng-binding">{{overallPoints}} <!-- ngIf: maxPoints --><span ng-if="maxPoints" class="ng-binding dull-color ng-scope"> / {{maxPoints}}</span><!-- end ngIf: maxPoints --></p>
        </div>
              </div>
            </div>
         </div>
                  </div>
                </div>
                <div class="col-lg-6 float-left">
                  <div class="latest-activity-header float-left">
                    <h4>Latest Activity</h4>
                  </div>
                  <!-- <div class="latest-activity-body float-left"> -->
                    <!-- <div class="hero-icon-latest">
                      <img src="https://s3-ap-southeast-1.amazonaws.com/contents.switch.petronas.com/files/petronas-switch/37/photos/0_37_1506226686397.jpg">
                    </div> -->
                    <!-- <p class="dull-color">Topping the Leaderboard Today</p>
                    <h1 class="dull-color">{{bestTeam.name}}</h1>
                    <h4>LEVEL <span>{{bestTeam.level}}</span></h4>
                  </div> -->
                 <!--  <div class="latest-activity-points float-left">
                    <h6 class="dull-color">Points</h6>
                    <h5 class="text-center">{{bestTeam.points}}</h5>
                  </div> -->
                  <div class="challenges-home">
                    <h3 class="dull-color">Latest Challenges for you </h3>
                    <div class="owl-carousel owl-carousel-dup" ng-class="showSlider?'visible':'invisible'" id="carousel{{$index}}">
                      <div class="organ-wrap organ-wrap-wo-box mt-4" ng-click="gotoChallengeId(dt.latestChallenge.id,dt.category.name)" ng-repeat="dt in latestChallenge">
                           
                        <figure class="text-center mb-0 owl-icon" style="border-radius:30px;background-image:url({{dt.latestChallenge.imageLarge}})">
                               </figure>
                        </div>


                        
                    </div>
                    <!-- <div class="owl-carousel owl-carousel-dup" ng-class="showSlider?'visible':'invisible'" id="carousel{{$index}}">
                            <div class="organ-wrap organ-wrap-wo-box mt-4" ng-click="gotoChallengeId(293)">
                                
                                <figure class="text-center mb-0 owl-icon" style="border-radius:30px;background-image:url('app/assets/img/thumbnail1.png')">
                               </figure>
                               
                                
                            </div>

                            <div class="organ-wrap organ-wrap-wo-box mt-4" ng-click="gotoChallengeId(282)">
                                
                                <figure class="text-center mb-0 owl-icon" style="border-radius:30px;background-image:url('app/assets/img/thumbnail2.jpg')">
                               
                                </figure>
                               
                                
                            </div>

                            <div class="organ-wrap organ-wrap-wo-box mt-4" ng-click="gotoChallengeId(281)">
                                
                                <figure class="text-center mb-0 owl-icon" style="border-radius:30px;background-image:url('app/assets/img/thumbnail3.jpg')">
                               
                                </figure>
                               
                                
                            </div>
                            </div> -->
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12 col-md-12 col-12 float-left no-padd-mob-res">
    <div class="row">
       
       <!--  <div class="col-xs-12 col-md-12">
            <figure class="cartoon-icon text-center">
                <img src="app/assets/img/home/cartoon.png" alt="" class="img-fluid pt-5">
            </figure>
        </div> -->
        
<div class="col-lg-6 col-md-6 col-12 float-left">
    <div class="">
     
       <figure class="wel-text text-center mb-0">
         <img src="app/assets/img/switch-pose.png" class="robot-icon">
       </figure>
       <figure class="wel-text text-center" style="margin-top: 0;">
          <img src="app/assets/img/new-home/test.png"> 
       </figure>
        
        <!-- <div class="col-12 no-padd-mob-res">
        <div class="">
            <div class="latest-activity mt-5">
              <div class="latest-activity-wrapper carousel-icon1 bg-theme">
                <h6>Topping the Leaderboard Today</h6>
                <div class="media">
                      <img class="d-flex" ng-src="{{bestTeam.image}}" alt="Generic placeholder image">
                      <div class="media-body">
                        <ul>
                          <li>{{bestTeam.name}}</li>
                          <li><span>{{bestTeam.points}}</span> Points</li>
                        </ul>
                      </div>
                    </div>
                    <p class="short-desc">Latest Challenges for you</p>
                    <ul class="latest-icon">
                      <li  ng-repeat="challenge in latestChallenge">
                        <div class="latest-activity-icon">
                            <a href="#/challenge?id={{challenge.latestChallenge.id}}">
                        <img ng-src="{{challenge.latestChallenge.imageLarge}}" alt=""></a>
                        </div><a href="#/challenge?id={{challenge.latestChallenge.id}}">
                         <span>{{challenge.latestChallenge.title}}</span></a></li>
                    </ul>
              </div>
            </div>
        </div>
    </div> -->
    </div>

</div>
<div class="col-12 col-md-6 col-lg-6 mt-5 slider-home float-left">
        <div class="">
            <div id="carouselImg" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li ng-repeat="img in carousel" data-target="#carouselImg" data-slide-to="{{$index}}" ng-class="{{$index==0?'active':''}}"></li>
                </ol>
                <div class="carousel-inner carousel-inner-home">
                    <div class="carousel-item" ng-class="$index==0?'active':''"  ng-repeat="img in carousel">
                        <div class="carousel-icon">
                            
                        <img class="d-block w-100" ng-src="{{img.imageLarge}}" alt="First slide">
                        </div>
                    </div>
                    

                </div>
                <span class="carousel-control-prev left-c" data-target="#carouselImg" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  </span>
                <span class="carousel-control-next right-c" data-target="#carouselImg" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  </span>
            </div>
        </div>
        </div>
    </div>
    </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to logout of the application?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="logout()">Yes</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                    </div>
                </div>
            </div>
        </div>