<div ng-include="'app/shared_components/partials/mobile-menu.html'" >
                        
                    </div>
    <div class="container-fluid">
        <!-- <div class="table-class"> -->
        <!-- <div class="center-screen"> -->
        <div class="">
            <div class="row">
                <div class="col-md-1 text-center welcome-txt mt-5">
                    <img src="app/assets/img/switch-pose.png" class="wel-mini">
                    <img src="app/assets/img/home/welcome-txt.png" alt="" class="img-fluid">
                </div>
                <div class="col-md-1 pl-0 mob-hide">
                    <div class="mt-0 col-md-12 mb-4">
                        <a href="#/home"><img src="app/assets/img/home/home-icon.png" alt="" class="menu-active"></a>
                    </div>
                    <div ng-include="'app/shared_components/partials/menu.html'" class="main-menu">
                        
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="row">
                        <div class="ml-1 breadcrumb-txt mb-4">
                            <h3 class="pl-3">VIDEOS</h3>
                        </div>
                        <div class="w-100">
                        </div>
                    </div>
                    <!--Trending-->
                    <div class="row">
                       
                        <div class="col-xs-12 col-md-12 col-lg-6 data-wrapper float-left">
                            <div   ng-repeat="game in topiclist" ng-class="showSlider?'visible':'invisible'">
                                
                            <h4 class="pl-1">{{game.title}} </h4>
                            <div class="owl-carousel" id="carousel{{$index}}">
                            <div class="organ-wrap mt-4"  ng-repeat="challenge in game.challenges" ng-click="gotoChallenge(challenge)">
                                <h5 class="text-center mt-0 mb-0" ng-class="challenge.claimed?'completed-txt':'notcompleted-txt'" title="{{challenge.title}}">{{challenge.title}}
                                    <!-- <a href="#/challenge?id={{challenge.id}}"><a/> --></h5>
                                <figure class="text-center mb-0 videos-big-icon videos-big-icon1" style="background-image:url({{challenge.imageSmall}});">
                                <!-- <span class="challenge-points">{{challenge.points}}</span> -->
                                    <!-- <img ng-src="{{challenge.imageSmall}}" class="img-fluid" alt="">-->
                                        <!-- src="app/assets/img/data/puzzle.png" --> 
                                <ul class="challenge-rating challenges-rating video-bg-color">
                                    
                                    <li><span><img src="app/assets/img/challenge/completion.png"> {{challenge.claimNo}}</span></li>
                                    <li><img src="app/assets/img/challenge/like-outline.png" alt=""/>{{challenge.bookmarkNo}}</li>
                                    <!-- <li>{{challenge.points}} points</li> -->
                                </ul>
                                </figure>
                                <!-- <img src="app/assets/img/data/excla.png" alt="" class="excla img-fluid"> -->
                            </div>
                            </div>
                        </div>
                            </div>

                         <div class="col-xs-12 col-md-12 col-lg-6 float-left data-wrapper"   ng-class="showSlider?'visible':'invisible'">
                            <h4 class="pl-4">Trending </h4>
                            <div class="owl-carousel-trend" id="carouseltrending">
                           
                           
                           
                                <div class="organ-wrap  organ-wrap-trend mt-4"   ng-click="gotoChallenge(trendinglist)"  style="width:30vw">
                                <h5 class="text-center mt-0 mb-0" ng-class="trendinglist.claimed?'completed-txt':'notcompleted-txt'" title="{{trendinglist.title}}">{{trendinglist.title}}</h5>
                                   <figure class="text-center mb-0 videos-big-icon " style="background-image:url({{trendinglist.challengeimageurl}});height:28vw;max-height:405px">
                                        <ul class="challenge-rating  challenges-rating video-bg-color">
                                    
                                    <li><span><img src="app/assets/img/challenge/completion.png"> {{trendinglist.claimNo}}</span></li>
                                    <li><img src="app/assets/img/challenge/like-outline.png" alt=""/>{{trendinglist.bookmarkNo}}</li>
                                </ul>
                                </figure>
                                <!-- <img src="app/assets/img/data/excla.png" alt="" class="excla img-fluid"> -->
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
               
            </div>
        </div>
        <!-- </div> -->
        <!-- </div> -->
    </div>


    


