<div ng-include="'app/shared_components/partials/mobile-menu.html'" >
                        
                    </div>
<div class="container-fluid">
    <!-- <div class="table-class"> -->
    <!-- <div class="center-screen"> -->
         

    <div class="">
        <div class="row">
            <div class="col-md-1 text-center welcome-txt mt-5">
                 <img src="app/assets/img/switch-pose.png" class="wel-mini">
                <img src="app/assets/img/home/welcome-txt.png" alt="" class="img-fluid">
            </div>
            <div class="col-md-1 pl-0 mob-hide">
                <div class="mt-0 col-md-12 mb-4">
                    <a href="#/home"><img src="app/assets/img/home/home-icon.png" alt="" class="menu-active"></a>
                </div>
                <div ng-include="'app/shared_components/partials/menu.html'" class="main-menu">
                </div>
            </div>
            <div class="col-md-12 col-lg-10 scroll pl-0 profile-sample" >
                

                <div class="col-lg-12 col-sm-6 float-left">
                    <div class="row">
                
                
                    
                    <div class="col-lg-12 float-left team-wrapper" ng-if="teamName!=null">
                    <div class="col-md-12 float-left">
                        <!-- <h4 class="text-left  mb-3"></h4> -->
                        <div class="breadcrumb-txt mb-2 row">
                        <h3 class="col-md-12 float-left">TEAM: {{teamName}}<div class="search-container team-search-container ">
                                         <input type="text" class="search-text float-right" placeholder="Search by User"  ng-model="teamsearch.keywords"/>
                                         <span class="clear-btn" ng-if="teamsearch.keywords!=''" data-ng-click="teamsearch.keywords='';teamsearch.teamPage=0;getTeamUsers(teamId);" >X</span>  
                                         <input type="button" value=""  class="search-btn" data-ng-click="teamsearch.teamPage=0;getTeamUsers(teamId)"/></div></h3>
                                     </div>
                         </div>
                     </div>
                         <div class="text-center col-md-12 float-left" ng-if="teamUsers.length==0" style="color:#fff;font-size:15px">No relevant data found</div>
                         <div class="col-md-12 float-left">
                        <ul class="team-fire-icon ">

                            <li ng-click="goToProfile(user.id)" ng-repeat="user in teamUsers" ng-if="teamUsers.length!=0" class="mb-3 avatar-icon bg-black-layer" data-content="<div class='bg-level'>
                                <ul>
            <li class='bg-level-name'><img src='{{(user.photoSmall==''||user.photoSmall==null)?'app/assets/img/Profile_Ind_circle.png':user.photoSmall}}'/> {{user.name}}</li>
            <li class='bg-level-level'><img src='app/assets/img/profile/arrow.png'> LEVEL {{user.level}}</li>
            <li class='bg-level-points'><img src='app/assets/img/profile/dot.png'> {{user.points}} <small>Points</small></li>
        </ul></div>"data-toggle="popover" style="background-image:url({{(user.photoSmall==''||user.photoSmall==null)?'app/assets/img/Profile_Ind_circle.png':user.photoSmall}})">
   

                            </li>
                        </ul>
                        </div>
                    </div>
                    </div>


            </div>
        </div>
    </div>

        </div>
    </div>
    <!-- </div> -->
    <!-- </div> -->


</div>