<div ng-include="'app/shared_components/partials/mobile-menu.html'">
                        
                    </div>

<div class="container-fluid acti">
    <!-- <div class="table-class"> -->
    <!-- <div class="center-screen"> -->
    <div class="welcome-wrap">
        <div class="row">
            <div class="col-md-1 text-center welcome-txt mt-5">
                <img src="app/assets/img/switch-pose.png" class="wel-mini">
                <img src="app/assets/img/home/welcome-txt.png" alt="" class="img-fluid">
            </div>
            <div class="col-md-1 pl-0 mob-hide">
                <div class="mt-0 col-md-12 mb-4">
                    <a href="#/home"><img src="app/assets/img/home/home-icon.png" alt="" class="menu-active"></a>
                </div>
                <div ng-include="'app/shared_components/partials/menu.html'" class="main-menu">
                </div>
            </div>
            <div class="col-lg-10">
                <div class="row">
                    <div class="ml-0 col-lg-6 breadcrumb-txt mb-4 float-left">
                        <h3 class="float-left">ACTIVITY FEED</h3>
                    </div>
                    <div  class="col-lg-6 pr-0 float-right">
                       <a ng-if="showUserPhotos" ng-click="showPhotoActivityFeed()"> <img src="app/assets/img/back.png" class="back-icon float-right"></a>
                       <a ng-if="showPhotoActivity" ng-click="showActivityFeed()"> <img src="app/assets/img/back.png" class="back-icon float-right"></a>
                       <a ng-if="!showPhotoActivity && !showUserPhotos" ng-click="showPhotoActivityFeed()"> <img src="app/assets/img/photo_icon.png" class="photo-icon float-right"></a>
                    </div>
                </div>
                <div class="row">
                    <!--Challenges-->
                <div class="activity-search ml-auto mr-auto  clearfix" ng-if="!showUserPhotos && !showPhotoActivity">
                    
                    <div class="search-filter float-left" data-ng-click="search.showfilter=!search.showfilter;search.showtype=false;" ng-class="search.showfilter?'active':''">
                        <ul ng-if="search.showfilter">
                            <li data-ng-click="search.restrict='Following';getValues(currentActivityPage,'activities')" ng-class="search.restrict=='Following'?'active':''">Following</li>
                            <li data-ng-click="search.restrict='Everyone';getValues(currentActivityPage,'activities')"  ng-class="search.restrict=='Everyone'?'active':''">Everyone</li>
                        </ul>
                    </div>
                    

                    <input type="text" placeholder="Search" ng-model="search.keyword" class="search-keyword float-right"/>
                     <span class="clear-btn" data-ng-click="search.keyword='';getValues(currentActivityPage,'activities');" ng-if="search.keyword!=''">X</span>
                    <input type="button" ng-click="getValues(currentActivityPage,'activities')"  class="search-ico"/>
                    <div class="search-dropdown float-right" data-ng-click="search.showtype=!search.showtype;search.showfilter=false;" ng-class="search.showtype?'active':''">
                        <ul ng-if="search.showtype">
                                <li ng-class="search.type=='All'?'active':''" data-ng-click="search.type='All';">All</li>
                                <li ng-class="search.type=='user'?'active':''" data-ng-click="search.type='user';">User</li>
                                <li ng-class="search.type=='challenge'?'active':''" data-ng-click="search.type='challenge';" >Completion</li>
                                <li  ng-class="search.type=='comment'?'active':''" data-ng-click="search.type='comment';">Comments</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-12 scroll right-scroll"  ng-if="!showUserPhotos && !showPhotoActivity">
                <div class="col-lg-12 float-left" ng-class="(search.showfilter||search.showtype)?'bg-inactive':''" style="padding:0">
                    
                    
                   
                    
                    
                    
                    
                    
                    <h6 class="white-color" ng-if="activities.length==0 " style="text-align:center;margin-top:75px"> No relevant data found</h6>
                      
                    <div class="col-lg-12 col-sm-12 col-12 float-left clearfix" ng-repeat="activity in activities" style="padding:0">
                        
                        <div class="bg-black">
                            <h6 class="act-h6 act-points">+{{activity.points}}</h6>
                            <div class="col-lg-3 col-4 text-center col-sm-2 float-left text-center  bg-black-icon cursor-pointer" style="background-image:url({{(activity.userPhotoLarge==''||activity.userPhotoLarge==null)?'app/assets/img/Profile_Ind_circle.png':activity.userPhotoLarge}});margin-left:15px" ng-click="gotoProfile(activity.userId)">
                                <!-- <a href="#/profile?id={{activity.userId}}" class="avatar-icon profile-icon"> -->
                                    <!-- <img ng-src="{{}}" class="img-fluid"> -->
                                <!-- </a>  -->
                            </div>
                            <div class="col-lg-9  col-sm-10  col-12 float-left activity-info">
                                
                                <h4 class="cursor-pointer ellipsis" title="{{activity.userName}}" ng-click="gotoProfile(activity.userId)"><!-- <a href="#/profile?id={{activity.userId}}" class="white-color"> -->{{activity.userName}}<!-- </a> --></h4>
                                <h5>{{activity.createdAtFormatted}}</h5>
                                <ul>
                                    <li><img src="app/assets/img/star.png" class="star-activity">Completed Challenge - {{activity.challenge.title}}</li>
                                    
                                </ul>
                            </div>
                            <div class="w-100">
                                
                            </div>
                            <div class="col-lg-12 no-padd float-left">
                            <div ng-if="activity.message" class="white-color mb-0" style="padding-left:15px;padding-right: 100px;min-height: 45px;font-size:15px">Message Posted: <span class="paralink-text" style="white-space:pre-wrap" ng-bind-html="activity.message"></span>

                                <!--Comments-->
                                <!-- <div class="pr-impo-0 activity-info" style="position: absolute;right: 0;top: 2px;">
                                    <div class="like-comment mt-0  mb-0 float-right" ng-if="activity.challenge.challengeTypeId==1">

                                        <span data-toggle="collapse" data-target="#activityFeed{{$index}}" aria-expanded="false" class="mr-0" ng-click="getActivityComments($index,activity.id)" style="font-size: 16px;"><img src="app/assets/img/challenge/comment.png">{{activity.commentNo}}</span>
                                        

                                    </div>
                                </div> -->
                                </div>
                          
                              <div class="collapse"  id="activityFeed{{$index}}">
                                  
                                   <div class="comments" style="padding:0px 100px 0px 100px">
                                       <hr style="border-top:1px solid rgb(220, 220, 220)" />
                                        <p class="white-color" ng-if="activity.comments.length==0">No Comments</p>
                                        <ul ng-if="activity.comments.length!=0" class="scroll">
                                            <li ng-repeat="comment in activity.comments">
                                                <div class="feed-ac-ic bg-theme cursor-pointer"  style="background-image:url({{comment.photoLarge}});border:1px solid #fff" ng-click="gotoProfile(comment.userId)">
                                                <!-- <img src="{{}}" alt=""> -->
                                                </div>
                                                <div class="user-comments">
                                                    <h5 class="cursor-pointer white-color" ng-click="gotoProfile(comment.userId)">{{comment.userName}}</h5><span style="color:#aaa">{{comment.createdAtFormatted}}</span>
                                                    <p style="font-size:13px;color:#fff;white-space:pre-wrap" >{{comment.message}}</p>
                                                    
                                                </div>
                                            </li>
                                        </ul>
                                        <button ng-if="activity.comments.length!=0 && activity.more" ng-click="nextPageComments($index,activity.id,activity.pageNo)" class="btn submit-comments ">Load More</button>
                                        
                                          <textarea class="form-control" ng-model="activity.comment" rows="2" style="resize: none;"></textarea>
                                         <div class="col-lg-2 pl-0">
                                              <input type="button" style="margin-top:16px;max-width:125px;margin-bottom:0px" class="form-control show-more" value="Post Comment" ng-click="updateComment($index,activity.id,activity.comment)"/>
                                         </div>
                                    </div>
                              </div>
                            
                            </div>
                        </div>
                        
                    </div>

                    <div ng-if="showMoreActivity" class="float-left col-sm-12">
                                <button class="btn submit-comments mb-3" ng-click="loadMoreActivities()">Load More</button>
                            </div>
                    </div>
                

                </div>
        
                <!--Photo-->
                <div class="col-lg-12 right-activity scroll right-scroll float-left"   ng-if="!showUserPhotos && showPhotoActivity">
                     
                    <h4 class="mt-5">Photos by others</h4>
                    <h6 class="white-color" ng-if="photoActivities.length==0 "> No Activities Found</h6>
                    <ul class="phots-feedback">
                    <li ng-click="showUserPhotoActivity($index,photo.userId,photo)" ng-repeat="photo in photoActivities">

<div class="photos-activities"  style="background-image:url({{photo.claimPhotoLarge}})">
    
                        <!-- <img ng-src="{{}}"> -->
</div>
                        <!-- Comment Release 4 -->
                        <!-- <div class="img-overlay">
                            
                            <span><img src="app/assets/img/challenge/comment.png"> {{photo.commentNo}}</span>
                        </div> -->
                    </li>

                </ul>
                <div ng-if="showMorePhotoActivity">
                    <button class="btn submit-comments mb-3" ng-click="loadMorePhotoActivities()">Load More</button>
                </div>
                </div>

        <!--User Photos-->
        <div ng-if="showUserPhotos && !showPhotoActivity" class="col-lg-12">
            <div class="col-lg-6 float-left">
               <div class="bg-theme">
                    <figure class="phots-feedback-big-icon" style="background-image:url({{currentPhotoActivity.claimPhotoLarge}})">
                <!-- <img src="{{}}" class="img-fluid"/>                 -->
                
               
                
                </figure>
               </div>
                 <div class="detail-info-feedback">
                    <div class="posted">
                        <h5>Posted by <span class="cursor-pointer" ng-click="gotoProfile(currentPhotoActivity.userId)">{{currentPhotoActivity.userName}}</span></h5>
                        <h6>{{currentPhotoActivity.createdAtFormatted}}</h6>
                    </div>
                    <!-- Comment Release 4 -->
                    <!-- <div class="like-comment">
                        <span class="icon-comments" data-toggle="collapse" data-target="#photoFeed" aria-expanded="false" ng-click="getActivityComments($index,currentPhotoActivity.id)">
                            {{currentPhotoActivity.commentNo}}</span>
                       
                    </div> -->
                    <div class="collapse col-sm-12 p-0 no-padd row ml-0"  id="photoFeed">
                        <div class="comments comments-new col-sm-12 p-0  mt-2">
                            <hr style="border-top:1px solid rgb(220, 220, 220)" class="mt-1 " />
                            <p class="white-color" ng-if="currentPhotoActivity.comments.length==0">No Comments</p>
                            <ul ng-if="currentPhotoActivity.comments.length!=0" class="scroll">
                                <li ng-repeat="comment in currentPhotoActivity.comments">
                                    <div class="feed-ac-ic bg-theme cursor-pointer" style="background-image:url({{comment.photoLarge}});border:1px solid #fff" ng-click="gotoProfile(comment.userId)">
                                        
                                    <!-- <img src="{{}}" alt=""> -->
                                    </div>
                                    <div class="user-comments">
                                        <h5 class="cursor-pointer white-color" ng-click="gotoProfile(comment.userId)">{{comment.userName}}</h5>
                                        <span class="" style="color:#aaa">{{comment.createdAtFormatted}}</span>
                                        <p style="color:#fff;font-size:13px;white-space:pre-wrap">{{comment.message}}</p>
                                        
                                    </div>
                                </li>
                            </ul>
                            <button ng-if="currentPhotoActivity.comments.length!=0 && currentPhotoActivity.more" ng-click="nextPageComments(0,currentPhotoActivity.id,currentPhotoActivity.pageNo)" class="btn submit-comments ">Load More</button>
                            
                              <textarea class="form-control" ng-model="currentPhotoActivity.comment" rows="2" style="resize: none;"></textarea>
                             <div class="col-lg-5 pl-0">
                                  <input type="button" class="form-control show-more" value="Post Comment" ng-click="updateComment(currentPhotoActivity.index,currentPhotoActivity.id,currentPhotoActivity.comment)"/>
                             </div>
                        </div>
                                
                        </div>
                    </div>
                              
                </div> 

            <div class="col-lg-6 float-left right-activity right-activity scroll">
                     
                    <h4 class="mt-5">Photos by <span class="cursor-pointer" ng-click="gotoProfile(currentPhotoActivity.userId)">{{currentPhotoActivity.userName}}</span></h4>
                    <h6 class="white-color" ng-if="userPhotos.length==0 "> No Activities Found</h6>
                    <ul class="phots-feedback scroll">
                    <li ng-click="showUserPhotoActivity(0,photo.userId,photo)" ng-repeat="photo in userPhotos">
                        <div class="photos-activities"  style="background-image:url({{photo.claimPhotoLarge}})">
                            <img ng-src="{{}}">
                        </div>

                        <!-- Comment Release 4 -->
                       <!--  <div class="img-overlay">
                             <span><img src="app/assets/img/challenge/comment.png"> {{photo.commentNo}}</span>
                           
                           
                        </div> -->
                    </li>

                </ul>
                <div ng-if="showMoreUserPhotos">
                    <button class="btn submit-comments mb-3" ng-click="loadMoreUserPhotoActivities()">Load More</button>
                </div>
                </div>
            
            </div>

            
        </div>
    <!-- </div> -->
    <!-- </div> -->
</div>

