<div ng-include="'app/shared_components/partials/mobile-menu.html'" >
                        
                    </div>
    <div class="container-fluid">
        <div class="row">
            
            
        </div>
        <div class="">
        <div class="">
        <div class="">
            <div class="row">
                <div class="col-md-1 text-center welcome-txt mt-5">
                  <img src="app/assets/img/switch-pose.png" class="wel-mini">
                    <img src="app/assets/img/home/welcome-txt.png" alt="" class="img-fluid">
                </div>
                <div class="col-md-1 pl-0 mob-hide">
                    <div class="mt-0 col-md-12 mb-4">
                        <a href="#/home"><img src="app/assets/img/home/home-icon.png" alt="" class="menu-active"></a>
                    </div>
                    <div ng-include="'app/shared_components/partials/menu.html'" class="main-menu">
                        
                    </div>
                </div>
<div class="col-lg-8 col-md-8 col-xs-12">
    <div class="row">
    <div class="ml-4 breadcrumb-txt mb-4 mr-3">
        <!-- <h3>COMING SOON</h3> -->
    </div>
   
    <div class="w-100">
        
        <!-- <div class="comming-soon">
      <div class="comming-soon-inner">
        <div>
          <div class="cs-content">
            <h3 class="logo">
              <img src="app/assets/img/SWITCH.PNG" alt="">
              <h5>switch station</h5>
            </h3>
            <h4></h4>
            <p>Please write to us at <a href="mailto:switch@petronas.com" style="color: #fff;text-decoration: underline;font-weight: bold;">switch@petronas.com</a></p>
            
          </div>
        </div>
      </div>
    </div> -->


    </div>
    </div>
    <div class="row help justify-content-md-center">
    <div class="col-md-7">
        <img src="app/assets/img/tour-help.png"   alt="" ng-click="showtour()" style="width:50px;margin-top:-2px;position:relative;left:165%;cursor:pointer;"> <span class="text-shadow"></span>
        <h1 class="text-shadow">FAQ</h1>
        <h4><img src="app/assets/img/rewards/points.png" class="img-fluid">ABOUT SWITCH</h4>
        <div id="accordion" role="tablist">
  <div class="card">
    <div class="card-header" role="tab" id="headingOne">
      <h5 class="mb-0">
        <a data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
         1. What is SWITCH?
        </a>
      </h5>
    </div>

    <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        SWITCH is the Digital immersion programme in PETRONAS. SWITCH will introduce Digital in a fun and interactive way. As part of the programme, the SWITCH STATION - the apps and website (<a href="https://switch.petronas.com" style="color:white;text-decoration:underline">switch.petronas.com</a>) - will feature videos and challenges where you can learn more about Digital, and develop your skills. Through Digital, PETRONAS aims to be a data-driven organisation, adopting new ways of working to deliver new value.

       <!-- SWITCH is PETRONAS's Digital immersion programme. SWITCH will introduce Digital in a fun and interactive way. As part of the programme, the SWITCH STATION - the apps and website (switch.petronas.com) will feature videos and challenges where you can learn more about digital, and develop your skills. 

       Through Digital, PETRONAS aims to be a data-driven organisation, adopting new ways of working to deliver new value. -->
      </div>
    </div>
  </div>
</div>

<h4><img src="app/assets/img/rewards/points.png" class="img-fluid"> CONTENT </h4>
 <div id="accordion2" role="tablist">
  <div class="card">
    <div class="card-header" role="tab" id="headingNine">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" data-target="#collapseNine" aria-expanded="false" aria-controls="collapseThree">
         2. I am curious about Digital. How can I learn more?
        </a>
      </h5>
    </div>
    <div id="collapseNine" class="collapse" role="tabpanel" aria-labelledby="collapseNine" data-parent="#accordion2">
      <div class="card-body">
     <!-- We have covered three key topics in Digital, namely: Data-Driven Organisation, New Ways of Working, and Delivering New Value. Each topic contains informative bite-sized challenges and videos that will help you increase your knowledge and understanding of Digital. In addition, we will be launching the specialist track, where in you can learn and master more advanced capabilities like Data science, Design thinking etc. -->
     SWITCH covers three topics: Data-Driven Organisation, New Ways of Working, and Delivering New Value. Each topic contains informative challenges and videos that will help you increase your knowledge and understanding of Digital. In addition, we will be launching the Specialist track, where in you can learn and master more advanced areas such as Data Science and Design Thinking.
      </div>
    </div>
  </div>
    <div class="card">
    <div class="card-header" role="tab" id="headingTen">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" data-target="#collapseTen" aria-expanded="false" aria-controls="collapseThree">
       3. What kind of challenges will I be able to complete?
        </a>
      </h5>
    </div>
    <div id="collapseTen" class="collapse" role="tabpanel" aria-labelledby="collapseTen" data-parent="#accordion2">
      <div class="card-body">
      There are two types of challenges.  The first are content you can read or watch.  By understanding the content, you would have completed the challenge.  The second type of challenge requires an answer or a submission e.g., snap and upload a photo, type out an answer, or pick applicable answers from a list of options.  In both cases, be sure to mark that you've completed the challenge in order to get your points.
      </div>
    </div>
  </div>
    <div class="card">
    <div class="card-header" role="tab" id="headingEleven">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" data-target="#collapseEleven" aria-expanded="false" aria-controls="collapseThree">
         4. I have completed these topics. How can I learn even more?
        </a>
      </h5>
    </div>
    <div id="collapseEleven" class="collapse" role="tabpanel" aria-labelledby="collapseEleven" data-parent="#accordion2">
      <div class="card-body">
     After completing them, you will be able to opt for in-depth skill tracks of your interest. In these skill tracks, there will be online learning modules, hands-on practice, or project attachments.

If you have a specific interest in anything you have learnt here, please reach out to us at switch@petronas.com to find out how you can learn more!
      </div>
    </div>
  </div>
 </div>
 
 
<h4><img src="app/assets/img/rewards/points.png" class="img-fluid"> REWARDS</h4>
 <div id="accordion1" role="tablist">
  <div class="card">
    <div class="card-header" role="tab" id="headingFour">
      <h5 class="mb-0">
        <a data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
         5. How can I earn points?
        </a>
      </h5>
    </div>

    <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour" data-parent="#accordion1">
      <div class="card-body">
       You earn points when you have watched or read the content, and completed the challenges.  Remember to click on "Get My Points" to receive them.  Watch out for additional bonus challenges where you can earn extra points!
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="headingFive">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
          6. What can I do with my points?
        </a>
      </h5>
    </div>
    <div id="collapseFive" class="collapse" role="tabpanel" aria-labelledby="headingFive" data-parent="#accordion1">
      <div class="card-body">
       We will be introducing the SWITCH Store, where you can use the points you've earned to enhance the look of your SWITCH avatar.  Show off your customized SWITCH avatar on your Profile, and check out how your friends and colleagues have made their avatars special!
       <br/>
       If you have a Mesra card, you can also convert SWITCH points to Mesra points, one-for-one, for use in the Mesra store.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="headingSix">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseThree">
          7. How do I link my Mesra account to SWITCH?
        </a>
      </h5>
    </div>
    <div id="collapseSix" class="collapse" role="tabpanel" aria-labelledby="collapseSix" data-parent="#accordion1">
      <div class="card-body">
      a. Click Profile on the main menu bar.<br>
      b. Click ( <img src="app/assets/img/plus.png"> ) on the Add your Mesra section or click ( <img src="app/assets/img/settings.png"> ) to access the Settings page.<br>
      c. Enter your Mesra card number, and click Save Changes.<br>
      d. The Mesra card and number will show on your Profile page.<br>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="headingSeven">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseThree">
         8. Can I link more than one Mesra card to SWITCH?
        </a>
      </h5>
    </div>
    <div id="collapseSeven" class="collapse" role="tabpanel" aria-labelledby="collapseSeven" data-parent="#accordion1">
      <div class="card-body">
     No, you may only link one card at a time.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="headingEight">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseThree">
          9. How do I redeem Mesra Points?
        </a>
      </h5>
    </div>
    <div id="collapseEight" class="collapse" role="tabpanel" aria-labelledby="collapseEight" data-parent="#accordion1">
      <div class="card-body">
	 a. Ensure that your Mesra account has been connected to SWITCH (see 7 above).<br>
     b. Click Rewards on the main menu bar.<br>
     c. Convert SWITCH points to Mesra points in blocks of 1,000 points.<br>
     d. SWITCH points converted to Mesra points will be automatically credited to your Mesra account.<br>
      </div>
    </div>
  </div>
</div>

 <h4><img src="app/assets/img/rewards/points.png" class="img-fluid"> TEAMS</h4>
 <div  id="accordion3" role="tablist">
    <div class="card">
    <div class="card-header" role="tab" id="headingTwelve">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" data-target="#collapseTwelve" aria-expanded="false" aria-controls="collapseThree">
          10. How are teams assigned?
        </a>
      </h5>
    </div>
    <div id="collapseTwelve" class="collapse" role="tabpanel" aria-labelledby="collapseTwelve" data-parent="#accordion3">
      <div class="card-body">
      Teams are assigned by divisions or departments, depending on the size.
      </div>
    </div>
  </div>
    <div class="card">
    <div class="card-header" role="tab" id="headingThirteen">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" data-target="#collapseThirteen" aria-expanded="false" aria-controls="collapseThree">
        11. I am assigned to the wrong team. What do I do?
        </a>
      </h5>
    </div>
    <div id="collapseThirteen" class="collapse" role="tabpanel" aria-labelledby="collapseThirteen" data-parent="#accordion3">
      <div class="card-body">
      Submit a request to change teams by emailing <a href="mailto:switch@petronas.com">switch@petronas.com</a>.
      </div>
    </div>
  </div>
 </div>


<h4><img src="app/assets/img/rewards/points.png" class="img-fluid"> LATEST UPDATE</h4>
 <div  id="accordion4" role="tablist">
    <div class="card">
    <div class="card-header" role="tab" id="headingUpdate">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" data-target="#collapseUpdate" aria-expanded="false" aria-controls="collapseUpdate">
          12. What's changed in the latest release?
        </a>
      </h5>
    </div>
    <div id="collapseUpdate" class="collapse" role="tabpanel" aria-labelledby="collapseUpdate" data-parent="#accordion4">
      <div class="card-body">
      We've made updates to the SWITCH Station. Please see the key features launched below:<br/><br/>
      <label style="font-size:17px;text-decoration:underline">Release 3:</label>
      <br/><br/>
      1.       View user completions for each Video and Challenge.
<br/><br/>2.       Like Videos and Challenges and view how many users like them!
<br/><br/>3.       View incomplete Videos and Challenges through notification badges on the menu bar.
<br/><br/>4.       Click 'Next' to view the next Video or Challenge within the same topic, without returning to the main page. (new for mobile apps only)
<br/><br/>5.       Click on the carousel images on the Home page to open hyperlinked page. (Note: the carousel image text will specify which image has some hyperlinked content in it).
<br/><br/>6.       'Latest Activity' section will now have 'Suggested Content for You'! If all Videos and Challenges are completed, you will receive a 'Well Done!' message from SWITCH!
<br/><br/>7.       View other users team profiles by following the steps below:
<br/><label style="padding-left:20px">a.       Click on the "Leaderboard" icon</label>
<br/><label style="padding-left:20px">b.      Click on the selected individual's picture to view their profile</label>
<br/><label style="padding-left:20px">b.      Click on the selected individual's team to view their team profile</label>

  <br/><br/>
      <label style="font-size:17px;text-decoration:underline">Release 2:</label>
      <br/><br/>
      1.       Access the all new SWITCH store and customize your SWITCH avatar with accessories! Follow the instructions below:
<br/><label style="padding-left:20px">a.       Click on the '+' icon (for app users only)</label>
<br/><label style="padding-left:20px">b.      Click on the 'Rewards' icon</label>
<br/><label style="padding-left:20px">c.       You can now see the items available for purchase. Click on the selected item to purchase it with your SWITCH points</label>
<br/><label style="padding-left:20px">d.      For starters, we are giving out FREE accessories! So, go ahead and jazz up your avatar!</label>
<br/><br/>2.       You can now set your SWITCH avatar as your profile picture by following the instructions below:
<br/><label style="padding-left:20px">a.       Click on the '+' icon (for app users only)</label>
<br/><label style="padding-left:20px">b.      Click on 'Rewards' icon</label>
<br/><label style="padding-left:20px">c.       Click on the 'Upload' icon at the top left hand corner of the screen</label>
<br/><label style="padding-left:20px">d.      Click on the '+' icon (for app users only)</label>
<br/><label style="padding-left:20px">e.      Click on the 'Profile' icon</label>
<br/><label style="padding-left:20px">f.        Click on the 'Settings' icon</label>
<br/><label style="padding-left:20px">g.       Click on the 'Upload Avatar' button</label>
<br/><br/>3.       View other user profiles by following the steps below:
<br/><label style="padding-left:20px">a.       Click on the "Leaderboard" icon</label>
<br/><label style="padding-left:20px">b.      Click on the selected individual's picture to view their profile</label>
<br/><br/>4.       Improved user interface for the following pages:
<br/><label style="padding-left:20px">a.       Video challenges – You will now be awarded points automatically upon completion of the video</label>
<br/><label style="padding-left:20px">b.      Comic – You will now be awarded points upon automatically exiting the comic reading pane</label>



      </div>
    </div>
  </div>
    
 </div>

      </div>
 <h6 class="mt-4 mb-3 white-color">If you have further queries, contact us at <a href="mailto:switch@petronas.com">switch@petronas.com.</a></h6>
      </div>
    </div>
  </div>
    </div>
        </div>
        </div>
    </div>
    </div>
    </div>


            
