<div ng-include="'app/shared_components/partials/mobile-menu.html'" >
                        
                    </div>
<div class="container-fluid">
    <!-- <div class="table-class"> -->
    <!-- <div class="center-screen"> -->
         <div class="setting-menu col text-right visible-mob">
                        <a href="#/settings" class="text-shadow white-color"><img src="app/assets/img/setting.png" alt=""><span>Settings</span></a>
                    </div>

    <div class="">
        <div class="row">
            <div class="col-md-1 text-center welcome-txt mt-5">
                 <img src="app/assets/img/switch-pose.png" class="wel-mini">
                <img src="app/assets/img/home/welcome-txt.png" alt="" class="img-fluid">
            </div>
            <div class="col-md-1 pl-0 mob-hide">
                <div class="mt-0 col-md-12 mb-4">
                    <a href="#/home"><img src="app/assets/img/home/home-icon.png" alt="" class="menu-active"></a>
                </div>
                <div ng-include="'app/shared_components/partials/menu.html'" class="main-menu">
                </div>
            </div>
            <div class="col-md-12 col-lg-10 scroll pl-0 profile-sample" ng-if="!otherProfile">
                <div class="row">
                    <div class="breadcrumb-txt mb-2 ml-4">
                        <h3>PROFILE</h3>
                    </div>
                     <div class="setting-menu col text-right hidden-mob mt-3">
                        <a href="#/settings" class="text-shadow"><img src="app/assets/img/rewards/settings.png" alt="">Settings</span></a>
                    </div>
                </div>

                <div class="col-lg-12 col-sm-6 float-left">
                    <div class="row">
                <div class="col-lg-6 float-left">
                  <div class="bg-home">
                <div class="col-lg-4 pl-0 float-left">
                      <div class="circle-progress yellow">
                <span class="progress-left">
                    <span class="progress-bar"  ng-style="progressBarLeft" ></span>
                </span>
                <span class="progress-right">
                    <span class="progress-bar" ng-style="progressBarRight" ></span>
                </span>
                <div class="avatar-icon bg-black-layer" style="background-image:url({{(photo.sm==''||photo.sm==null)?'app/assets/img/Profile_Ind_circle.png':photo.sm}})">
                  <!-- <img src=""> -->
                </div>
            </div>
                </div>
                        <div class="col-lg-8 float-left">
              <div class="home-user-info">
              <h4>{{username}}</h4>
              <h2>LEVEL <span>{{level}}</span></h2>
              <div class="mid-line">
                <img src="app/assets/img/new-home/border.png">
              </div>
              <div class="redeem-points float-left">
                <h5>Redeemable Points</h5>
              <h1>{{points}}</h1>
              </div>
              <span class="float-left redeem-span"><a class="white-color" href="#/rewards">REDEEM NOW</a></span>
               <div class="mid-line">
                <img src="app/assets/img/new-home/border.png">
              </div>
            
              
            </div>
         </div>
           <div class="accumulated-wrap col-lg-6 float-left pl-0 pr-0">
                <!-- <img src="app/assets/img/new-home/redeem.png"> -->
                <div class="progress-bar-notify">
                <span>Accumulated Points</span>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" ng-style="progressCss" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 98%;"></div>
                </div>
            </div>
            <div class="progess-status no-padd">
            <p class="ng-binding">{{overallPoints}} <!-- ngIf: maxPoints --><span ng-if="maxPoints" class="ng-binding dull-color ng-scope"> / {{maxPoints}}</span><!-- end ngIf: maxPoints --></p>
        </div>
              </div>
               <div class="accumulated-wrap col-lg-6 float-left pr-0">
                 <!-- <img src="app/assets/img/new-home/redeem.png"> -->
               <div class="progress-bar-notify">
                <span>Number of Completions</span>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" ng-style="completionCss"  aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
            <div class="progess-status no-padd">
            <p>{{challengeCompleted}} / <span>{{challengeTotal}}</span></p>
        </div>
            </div>
                      <!--   <div class="col-lg-12 col-xs-12 col-md-12 no-padd">
                            <a class="avatar-icon profile-icon">
                                <img ng-src="{{photo.sm}}" alt="" class="img-fluid">
                            </a>
                            <div class="avatar-details profile-details">
                                <h4 class="pt-4 pl-4">{{username}}</h4>
                                <h5 class="pl-4">LEVEL {{level}}</h5>
                            </div>
                        </div> -->
                    </div>
                    <!-- <div class="row"> -->
                      <!--   <div class="col-md-9 pt-3 pl-0">
            <div class="progress-bar-notify">
                <span>Accumulated Points</span>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" ng-style="progressCss"  aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
        </div> -->
        <!-- <div class="col-md-3 mt-4 progess-status no-padd">
            <p>{{overallPoints}} <span ng-if="maxPoints"> / {{maxPoints}}</span></p>
        </div> -->
               <!--  <div class="col-md-9 pt-2 pl-0">
            <div class="progress-bar-notify">
                <span>Number of Completions</span>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" ng-style="completionCss"  aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div> -->
        <!-- </div> -->
      <!--   <div class="col-md-3 mt-3 progess-status no-padd">
            <p>{{challengeCompleted}} / <span>{{challengeTotal}}</span></p>
        </div> -->
                    </div>
                <div class="col-lg-6 col-sm-6 float-left">
                    <div class="row mesra-wrapper" ng-if="mesra">
                        <h4 class="mb-0"><span>Mesra Card Number:</span>  {{mesra?mesra:''}}</h4>
                        <div class="w-100">
                            
                        </div>
                        <div class="col-lg-5 col-sm-12 full-width-large text-center">
                            <a href="#/settings" class="mesra-card-wrapper">
                        <img src="app/assets/img/profile/mesra.png" alt="" class="img-fluid">
                            </a>
                        </div>
                        <div class="col-lg-5 col-sm-7 half-with-res">
                            <p>
                                You can use your accumulated points to redeem your Mesra points. <strong>Do not miss the chance!</strong>
                            </p>
                        </div>
                        <div class="col-lg-2 col-sm-5 text-center pr-0 half-with-res">
                            <a href="#/rewards" >
                                <img src="app/assets/img/home/reddem-icon.png" alt="" class="img-fluid">
                            </a>
                        </div>
                    </div>
                    <div class="row mesra-wrapper" ng-if="!mesra">
                        <h4 class="mb-0"><span>Add your Mesra Card</span>  {{mesra}}</h4>
                        <div class="w-100">
                            
                        </div>
                        <div class="col-lg-4 col-sm-3 text-center">
                            <a href="#/settings" class="mesra-card-wrapper">
                        <img src="app/assets/img/register/plus.png" alt="" class="img-fluid add-mesra">
                            </a>
                        </div>
                        <div class="col-lg-8 col-sm-9">
                            <p>
                                You can use your accumulated points to redeem your Mesra points. <strong>Do not miss the chance!</strong>
                            </p>
                        </div>
                        
                    </div>
                </div>
                    
                    <div class="col-lg-12 float-left team-wrapper" ng-if="teamName!=null">
                    <div class="">                   
                        <h4 class="text-left  mb-3 cur-pointer"  style="margin-bottom:14px!important"ng-click="goToTeam(teamId)">TEAM: {{teamName}}</h4>
                        <!-- <ul class="clearfix unstyled">
                            <li ng-repeat="team in teamName">
                                {{team.name}}
                            </li>
                        </ul> -->
                        
                        <!-- <ul class="team-fire-icon">
                            <li ng-repeat="user in teamUsers" class="mb-3 avatar-icon bg-black-layer" data-content="<div class='bg-level'>
                                <ul>
            <li class='bg-level-name'><img src='{{user.photoSmall}}'/> {{user.name}}</li>
            <li class='bg-level-level'><img src='app/assets/img/profile/arrow.png'> LEVEL {{user.level}}</li>
            <li class='bg-level-points'><img src='app/assets/img/profile/dot.png'> {{user.points}} <small>Points</small></li>
        </ul></div>" data-toggle="popover" style="background-image:url({{user.photoSmall}})"> -->
                               <!--  <a href="#/profile?id={{user.id}}"> -->
                              <!--  <img data-content="<div class='bg-level'>
                                <ul>
            <li class='bg-level-name'><img src='{{user.photoSmall}}'/> {{user.name}}</li>
            <li class='bg-level-level'><img src='app/assets/img/profile/arrow.png'> LEVEL {{user.level}}</li>
            <li class='bg-level-points'><img src='app/assets/img/profile/dot.png'> {{user.points}} <small>Points</small></li>
        </ul></div>" data-toggle="popover" ng-src="{{user.photoLarge}}" alt=""> -->
                            <!-- </a> -->
                             

                            <!-- </li>
                        </ul> -->

                    </div>
                    </div>

                    <div class="col-lg-12 float-left team-wrapper">
                    <div class=""  ng-if="followerList.length!=0">
                        <h4 class="text-left  mb-3 cur-pointer" ng-click="goToFollowers()">Followers ({{follower}})</h4>
                        <ul class="team-fire-icon">
                            <li ng-click="goToProfile(user.userid)" ng-repeat="user in followerList | limitTo:5" class="mb-3 avatar-icon bg-black-layer" title="{{user.firstname}}" data-toggle="popover" style="background-image:url({{(user.userphoto==''||user.userphoto==null)?'app/assets/img/Profile_Ind_circle.png':user.userphoto}})">
                            </li>
                            <li ng-click="goToFollowers()" class="avatar-icon bg-black-layer" ng-if="followerListMore" title="more" data-toggle="popover"  style="background-image:url('app/assets/img/more.png')"></li>
                        </ul>
                        
                    </div>
                    </div>

                    <div class="col-lg-12 float-left team-wrapper" >
                    <div class=""  ng-if="followingList.length!=0">
                        <h4 class="text-left  mb-3 cur-pointer" ng-click="goToFollowing()">Following ({{following}})</h4>
                        <ul class="team-fire-icon">
                            <li ng-click="goToProfile(user.userid)" ng-repeat="user in followingList | limitTo:5" class="mb-3 avatar-icon bg-black-layer" data-placement="top" title="{{user.firstname}}" data-toggle="popover" style="background-image:url({{(user.userphoto==''||user.userphoto==null)?'app/assets/img/Profile_Ind_circle.png':user.userphoto}})">
                            </li>
                            <li ng-click="goToFollowing()" class="avatar-icon bg-black-layer" ng-if="followingListMore" title="more" data-toggle="popover"  style="background-image:url('app/assets/img/more.png')"></li>
                        </ul>
                        
                    </div>
                    </div>

                    <div class="col-lg-12 float-left achieve-head" ng-if="achievements.length!=0">
                        <h4 class="mb-4" style="margin-top:10px">Achievements</h4>
                        <ul class="diamond-list">
                            <li ng-repeat="achievement in achievements" style="background-image:url({{achievement.imageLarge}})">                                  
                             <div class="diamond-list-icon"  data-toggle="popover" data-placement="top" title="{{achievement.name}}">
                                <!-- <img ng-src="{{}}" alt=""> -->
                        </div>
                            </li>
                        </ul>
                    </div>


            </div>
        </div>
    </div>
            <!--Other Profile-->

            <div class="col-md-12 col-lg-10 scroll" ng-if="otherProfile">
                <div class="row">
                    <div class="breadcrumb-txt mb-2 ml-4">
                        <h3>PROFILE</h3>
                    </div>
                     
                </div>
                <div class="row">
                   <div class="col-lg-6 float-left">
                  <div class="bg-home">
                <div class="col-lg-4 pl-0 float-left">
                      <div class="circle-progress yellow">
                <span class="progress-left">
                    <span class="progress-bar"  ng-style="progressBarLeft" ></span>
                </span>
                <span class="progress-right">
                    <span class="progress-bar" ng-style="progressBarRight" ></span>
                </span>
                <div class="avatar-icon bg-black-layer" style="background-image:url({{(photo.sm==''||photo.sm==null)?'app/assets/img/Profile_Ind_circle.png':photo.sm}})">
                  <!-- <img src=""> -->
                </div>
            </div>
                </div>
                        <div class="col-lg-8 float-left">
              <div class="home-user-info">
              <h4>{{username}}</h4>
              
              <div class="mid-line">
                <img src="app/assets/img/new-home/border.png">
              </div>
              
             <div class="col-lg-6 redeem-points float-left">
                <h5>Overall Points</h5>
              <h1>{{overallPoints}}</h1>
              
              </div>
              <div class="col-lg-6 float-left">
                <h5>&nbsp;</h5>
                <input type="button" ng-if="followText=='Follow'" ng-click="followUser(true)" class="profileFollow"/>
                <input type="button" ng-if="followText!='Follow'" ng-click="followUser(false)" class="profileFollowing"/>
                
              </div>
               
            
              
            </div>
         </div>
           
               
                      
                    </div>
               
                    </div>
                </div>
                
                
                
                <div class="col-lg-12 float-left team-wrapper" ng-if="teamName!=null">
                    <div class="">
                        <h4 class="text-left  mb-3  cur-pointer" style="margin-bottom:14px!important" ng-click="goToTeam(teamId)">Team: {{teamName}}</h4>
                        <!-- <ul class="team-fire-icon">
                            <li ng-click="goToProfile(user.id)"  ng-repeat="user in teamUsers" class="mb-3 avatar-icon bg-black-layer" data-content="<div class='bg-level'>
                                <ul>
            <li class='bg-level-name'><img src='{{user.photoSmall}}'/> {{user.name}}</li>
            <li class='bg-level-level'><img src='app/assets/img/profile/arrow.png'> LEVEL {{user.level}}</li>
            <li class='bg-level-points'><img src='app/assets/img/profile/dot.png'> {{user.points}} <small>Points</small></li>
        </ul></div>" data-toggle="popover" style="background-image:url({{user.photoSmall}})"> -->
                               <!--  <a href="#/profile?id={{user.id}}"> -->
                               <!-- <img data-content="<div class='bg-level'>
                                <ul>
            <li class='bg-level-name'><img src='{{user.photoSmall}}'/> {{user.name}}</li>
            <li class='bg-level-level'><img src='app/assets/img/profile/arrow.png'> LEVEL {{user.level}}</li>
            <li class='bg-level-points'><img src='app/assets/img/profile/dot.png'> {{user.points}} <small>Points</small></li>
        </ul></div>" data-toggle="popover" ng-src="{{user.photoLarge}}" alt=""> -->
                            <!-- </a> -->
                             

                            <!-- </li>
                        </ul> -->

                    </div>
                    </div>

                    <div class="col-lg-12 float-left team-wrapper">
                    <div class="" ng-if="follower.length!=0">
                        <h4 class="text-left  mb-3 cur-pointer" ng-click="goToFollowers()">Followers ({{follower}})</h4>
                         <ul class="team-fire-icon">
                            <li ng-click="goToProfile(user.userid)" ng-repeat="user in followerList | limitTo:5 " class="mb-3 avatar-icon bg-black-layer" title="{{user.firstname}}" data-toggle="popover"  style="background-image:url({{(user.userphoto==''||user.userphoto==null)?'app/assets/img/Profile_Ind_circle.png':user.userphoto}})">
                            </li>
                            <li ng-click="goToFollowers()" class="avatar-icon bg-black-layer" ng-if="followerListMore" title="more" style="background-image:url('app/assets/img/more.png')"></li>
                        </ul>
                       
                    </div>
                    </div>

                    <div class="col-lg-12 float-left team-wrapper" >
                    <div class="" ng-if="followingList.length!=0">
                        <h4 class="text-left  mb-3 cur-pointer" ng-click="goToFollowing()">Following ({{following}})</h4>
                        <ul class="team-fire-icon">
                            <li ng-click="goToProfile(user.userid)" ng-repeat="user in followingList | limitTo:5" class="mb-3 avatar-icon bg-black-layer" title="{{user.firstname}}" data-toggle="popover" style="background-image:url({{(user.userphoto==''||user.userphoto==null)?'app/assets/img/Profile_Ind_circle.png':user.userphoto}})">
                            </li>
                            <li ng-click="goToFollowing()" class="avatar-icon bg-black-layer" ng-if="followingListMore" title="more" data-toggle="popover" style="background-image:url('app/assets/img/more.png')"></li>
                        </ul>
                    </div>
                    </div>
                    <div class="col-lg-12 float-left mb-0 achieve-head" ng-if="achievements.length!=0">
                        <h4 class="mb-4 mt-2">Achievements</h4>
                        <ul class="diamond-list">
                            <li ng-repeat="achievement in achievements" style="background-image:url({{achievement.imageLarge}})">
                             <div class="diamond-list-icon"  data-toggle="popover" data-placement="top" title="{{achievement.name}}">
                                <!-- <img ng-src="{{}}" alt=""> -->
                                </div>
                            </li>
                        </ul>
                        
                    </div>



            </div>
        </div>
    </div>
    <!-- </div> -->
    <!-- </div> -->


</div>