

<div id="menu-container">
    <div id="menu-wrapper">
        <div id="hamburger-menu"><span></span><span></span><span></span></div>
    </div>
</div>
<div class="col-xs-3">
    <div class="mob-menu">
        <div class="table-class">
            <div class="center-screen">
                <div ng-include="'app/shared_components/partials/menu.html'" class="main-menu">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="mob-left-overlay"></div>
<div class="mob-right-overlay"></div>
<div class="container-fluid">
    <!-- <div class="table-class"> -->
    <!-- <div class="center-screen"> -->
    <div class="welcome-wrap mt-3">
        <div class="row">
            <div class="col-md-1 text-center welcome-txt mt-5">
                <img src="app/assets/img/home/welcome-txt.png" alt="" class="img-fluid">
            </div>
            <div class="col-md-1 pl-0 mob-hide">
                <div class="mt-0 col-md-12 mb-4">
                    <a href="#/home"><img src="app/assets/img/home/home-icon.png" alt="" class="menu-active"></a>
                </div>
                <div ng-include="'app/shared_components/partials/menu.html'" class="main-menu">
                </div>
            </div>
            <div class="col-md-10">
                <div class="row">
                    <div class="ml-4 breadcrumb-txt mb-4">
                        <h3>CHALLENGES</h3>
                    </div>
                    <div class="w-100">
                    </div>
                </div>
               
                <!-- Challenge - Type 1 -->
                <div class="row"  ng-if="challenge.challengeTypeId==1">
                    <div class="col-lg-10 col-sm-12">
                        <div class="">
                            <div class="col-lg-6 col-sm-6 float-left">
                                <figure>
                                    <img ng-src="{{challenge.imageLarge}}" alt="" class="img-fluid">
                                </figure>
                            </div>
                            <div class="col-lg-6 col-sm-6  float-left">
                                <div class="row right-content">
                                    <h4 class="">{{challenge.title}}</h4>
                                    <p>{{challenge.footnote}}</p>
                                    <form enctype= "multipart/form-data">
                                    	<input type="text" name="filename" value="file_name" style="display:none"/>
                                        <div class="form-group"  ng-if="challenge.repeat||!challenge.claimed" >
                                            <textarea name="" class="form-control" placeholder="Type your answer here" rows="7" style="resize: none;" ng-model="response.comment"></textarea>
                                        </div>
                                        <div class="form-group clearfix"  ng-if="challenge.repeat||!challenge.claimed" >
                                            <input type="file" id="challengePhoto"  name="file" fileInput="response.file" accept="image/png, image/gif, image/jpeg" filepreview="response.filepreview" style="display:none"/>
                                            <img src="app/assets/img/upload-cha.png" alt="" ng-click="uploadPhoto()"/>
                                            <p>Upload photo <span ng-if="!challenge.photoOnly">(Optional)</span></p>
                                            <img ng-src="{{response.filepreview}}" ng-show="response.filepreview" class="upload-view" >
                                        </div>
                                        <button type="submit" ng-if="challenge.repeat||!challenge.claimed"  class="btn submit-feed submit-point" ng-click="claimChallenge()">
                                            <img src="app/assets/img/get-point.png" alt="">
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- Challenge - Type 2 & 10 -->
                <div class="row" ng-if="challenge.challengeTypeId==2 || challenge.challengeTypeId==10">
                    <div class="col-lg-10 col-sm-12">
                        <div class="">
                            <div class="col-lg-6 col-sm-6  float-left">
                                <figure>
                                    <img ng-src="{{challenge.imageLarge}}" alt="" class="img-fluid">
                                </figure>
                            </div>
                            <div class="col-lg-6 col-sm-6  float-left">
                                <div class="row right-content">
                                    <h4 class="">{{challenge.title}}</h4>
                                    <p>{{challenge.footnote}}</p>
                                    
                                    <!--Quiz single select-->
                                    <ul class="list-challenge" ng-if="challenge.multiSelect">
                                        <li class="select-list"  ng-repeat="quest in challenge.quizOptions" ng-class="(!challenge.repeat&&challenge.claimed?'answered-options':'')">
                                        	<label ng-if="!challenge.repeat&&challenge.claimed">{{quest.title}}({{quest.answerNo}})</label>
                                            <div class="md-checkbox md-checkbox1" ng-if="challenge.repeat||!challenge.claimed" >
                                                <input ng-click="selectClaim(quest.id,false)" id="{{check+$index}}" id="{{check+$index}}" type="checkbox">
                                                <label for="{{check+$index}}"><span>{{quest.title}}</span></label>
                                            </div>
                                        </li>
                                    </ul>

                                    <ul class="list-challenge list-challenge1" ng-if="!challenge.multiSelect">
                                        <li ng-repeat="quest in challenge.quizOptions" >
                                             <label ng-if="!challenge.repeat&&challenge.claimed&&challenge.medias">{{quest.title}}({{quest.answerNo}})</label>
                                            <input  ng-click="selectClaim(quest.id,true)"  ng-if="challenge.repeat||!challenge.claimed"  type="radio" name="selector" id="{{rad+$index}}" value={{quest.id}}>
                                            <label  ng-if="challenge.repeat||!challenge.claimed"  for="{{rad+$index}}"><span>{{quest.title}}</span></label>
                                            <div class="check"  ng-if="challenge.repeat||!challenge.claimed" ></div>
                                        </li>
                                    </ul>
                                    
                                    <form action="" method="get" accept-charset="utf-8">
                                        <button type="submit" ng-if="challenge.repeat||!challenge.claimed" class="btn submit-feed submit-point" ng-click="claimChallenge()">
                                            <img src="app/assets/img/get-point.png" alt="">
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Challenge - Type 11 -->
                <div class="row"  ng-if="challenge.challengeTypeId==11">
                    <div class="col-lg-10 col-sm-12">
                        <div class="">
                        	<div class="col-lg-6 col-sm-6  float-left">
                                <figure>
                                    <img ng-src="{{challenge.imageLarge}}" alt="" class="img-fluid">
                                </figure>
                            </div>
                            <div class="col-lg-6 col-sm-6  float-left">
                                <div class="row right-content">
                                    <h4 class="">{{challenge.title}}</h4>
                                    <p>{{challenge.footnote}}</p>
                                    <div class="w-100"></div>
                                    <!-- Media-->
                                    <div ng-if="challenge.medias"  style="width:100%;float:left;">

                                    	<!--PDF-->
										<div ng-if="challenge.medias[0].type=='PDF'" >
											
											<iframe ng-src="{{trustSrc('https://docs.google.com/gview?url='+challenge.medias[0].url+'&embedded=true')}}" width="100%" height="300" ></iframe>
										</div>

										<!--VIDEO-->
										<div ng-if="challenge.medias[0].type=='Video'" style="width:100%;float:left;">
											
											<iframe ng-src="{{challenge.medias[0].url}}" height="300" width="100%"></iframe>
										</div>
										<!-- <p ng-if="!challenge.repeat||challenge.claimed" >{{challenge.completionMessage}}</p> -->
									</div>


									<!--Poll Multiselect-->
									<div ng-if="challenge.multiSelect">
									    <ul class="list-challenge">
                                        <li class="select-list"  ng-repeat="quest in challenge.quizOptions" ng-class="(!challenge.repeat&&challenge.claimed?'answered-options':'')">
                                            <label ng-if="!challenge.repeat&&challenge.claimed">{{quest.title}}({{quest.answerNo}})</label>
                                            <div class="md-checkbox md-checkbox1" ng-if="challenge.repeat||!challenge.claimed" >
                                                <input ng-click="selectClaim(quest.id,false)" id="{{check+$index}}" type="checkbox">
                                                <label for="{{check+$index}}"><span>{{quest.title}}</span></label>
                                            </div>
                                        </li>
                                    	</ul>
									</div>
									
									<!--Poll Singleselect-->
									<div ng-if="!challenge.multiSelect">
										<ul class="list-challenge list-challenge1">
                                        <li ng-repeat="quest in challenge.quizOptions" >
                                        	 <label ng-if="!challenge.repeat&&challenge.claimed&&challenge.medias">{{quest.title}}({{quest.answerNo}})</label>
                                            <input  ng-click="selectClaim(quest.id,true)"  ng-if="challenge.repeat||!challenge.claimed"  type="radio" name="selector" id="{{rad+$index}}" value={{quest.id}}>
                                            <label  ng-if="challenge.repeat||!challenge.claimed"  for="{{rad+$index}}"><span>{{quest.title}}</span></label>
                                            <div class="check"  ng-if="challenge.repeat||!challenge.claimed" ></div>
                                        </li>
                                    	</ul>
									</div>	


                                    <form action="" method="get" accept-charset="utf-8">
                                        <button type="submit" ng-if="challenge.repeat||!challenge.claimed" class="btn submit-feed submit-point" ng-click="claimChallenge()">
                                            <img src="app/assets/img/get-point.png" alt="">
                                        </button>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                
                <!--Other Completions-->
                <div class="col-lg-8">
                 <div class="row">
                       <div class="comments-wrapper">
                        <h4 class="mb-1 mt-1 toggle-comments-click">Other Completions <i class="fa fa-chevron-down float-right" aria-hidden="true"></i></h4>
                       <div class="col-lg-12 toggle-comments">
                           
                            <div class="col-lg-1 col-2 float-left comments-avatar">
                            <div class="row">
                                <img src="app/assets/img/profile/avatar.png" alt="" class="img-fluid">
                            </div>
                            </div>
                       
                        <div class="col-lg-8 col-8 float-left comments-info pl-0">
                            <div class="">
                                <h5>Vijay Krishna</h5> 
                            <span>2 Days ago</span>
                            <!-- <hr style="width: 100%;float: left;margin-top: 8px;margin-bottom:0;"> -->
                            </div>
                        </div>
                        <div class="col-lg-2 col-2 float-right comments-count">
                            <span class="text-right">+10</span>
                        </div>
                        <div class="col-lg-12 col-12 float-left">
                            <div class="row">
                                <figure class="comments-image">
                                    <img src="app/assets/img/sshot.png" alt="">

                                </figure>
                                <div class="w-100">
                                    
                                </div>
                                <div class="col-lg-4 col-6">
                                    <ul class="float-left comment-votes">
                                        <li>0 votes</li>
                                        <li>0 comments</li>
                                    </ul>
                                </div>
                                 <div class="col-lg-4 col-6 comments-like">
                                     <ul class="float-right">
                                        <li><i class="fa fa-heart" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-comment-o" aria-hidden="true"></i></li>
                                    </ul>
                                </div>
                                <div class="comments-text">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled</p>
                                </div>
                                
                            </div>
                        </div>
                        </div>
                       </div>

                    <!-- <ul class="comments comments-challenge">
                        <li ng-repeat="claim in challengeClaims">
                            <img ng-src="{{claim.userPhotoLarge}}">
                            <div class="user-comments">
                                <h5 class="ng-binding">{{claim.userName}}</h5>
                                <p>{{claim.challenge.title}}</p>
                                <p class="ng-binding">{{claim.message}}</p>
                                <span class="ng-binding">{{comment.createdAtFormatted}}</span>
                              </div>
                            <img ng-if="claim.claimPhotoLarge" ng-src="{{claim.claimPhotoLarge}}" width="100">

                        </li>
                    </ul> -->

                   </div>



                <!--Comments-->

				<div class=""  ng-if="comments.length!=0">
                    <div class="row">
                       <div class="comments-wrapper comments-wrapper1">
                     <h4 class="mb-2 mt-1 comments-click">Comments <i class="fa fa-chevron-down float-right" aria-hidden="true"></i></h4>
                     <div class="comments-challenge">
					<ul ng-if="comments.length>0" class="comments">
						<li ng-repeat="comment in comments">
							<img ng-src="{{comment.photoLarge}}">
							<div class="user-comments">
			                    <h5 class="ng-binding">{{comment.userName}}</h5>
			                    <p class="ng-binding">{{comment.message}}</p>
			                    <span class="ng-binding">{{comment.createdAtFormatted}}</span>
			                  </div>

						</li>
					</ul>
					<input type="button" class="btn submit-comments" value="load more" ng-if="showMoreComments" ng-click="nextPageComments()"/>
                    </div>

                </div>
                </div>
				</div>

                

            </div>

        </div>
    </div>
    <!-- </div> -->
    <!-- </div> -->
</div>


