
 <div id="menu-container">
        <div id="menu-wrapper">
            <div id="hamburger-menu"><span></span><span></span><span></span></div>
        </div>
    </div>
    <div class="col-xs-3">
        <div class="mob-menu">
            <div class="table-class">
                <div class="center-screen">
                    <div ng-include="'app/shared_components/partials/menu.html'" class="main-menu">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mob-left-overlay"></div>
    <div class="mob-right-overlay"></div>
    <div class="container-fluid">
        <div class="row">
            
            
        </div>
        <!-- <div class="table-class"> -->
        <!-- <div class="center-screen"> -->
        <div class="welcome-wrap mt-3">
            <div class="row">
                <div class="col-md-1 text-center welcome-txt mt-5">
                    <img src="app/assets/img/home/welcome-txt.png" alt="" class="img-fluid">
                </div>
                <div class="col-md-1 pl-0 mob-hide">
                    <div class="mt-0 col-md-12 mb-4">
                        <a href="#/home"><img src="app/assets/img/home/home-icon.png" alt="" class="menu-active"></a>
                    </div>
                    <div ng-include="'app/shared_components/partials/menu.html'" class="main-menu">
                        
                    </div>
                </div>
<div class="col-lg-8 col-md-8 col-xs-12">
    <div class="row">
    <div class="ml-4 breadcrumb-txt mb-4 mr-3">
        <h3>COMING SOON</h3>
    </div>
    <div class="">
        <input type="button" value="logout" ng-click="logout()" class="form-control logout-btn" />
    </div>
    <div class="w-100">
        <div class="comming-soon">
      <div class="comming-soon-inner">
        <div>
          <div class="cs-content">
            <h3 class="logo">
              <img src="app/assets/img/SWITCH.PNG" alt="">
              <h5>switch station</h5>
            </h3>
            <h1>coming soon</h1>
            <p>We're working on bringing you a new and fresh digital experience with SWITCH</p>
            <p>Stay tuned!</p>
          </div>
        </div>
      </div>
    </div>


    </div>
    </div>
    </div>
        <!-- </div> -->
        <!-- </div> -->
    </div>
    </div>
    </div>


            
