<div ng-include="'app/shared_components/partials/mobile-menu.html'" >
                        
                    </div>
<div class="container-fluid">
    <!-- <div class="table-class"> -->
    <!-- <div class="center-screen"> -->
    <div class="">
        <div class="row">
            <div class="col-md-1 text-center welcome-txt mt-5">
                 <img src="app/assets/img/switch-pose.png" class="wel-mini">
                <img src="app/assets/img/home/welcome-txt.png" alt="" class="img-fluid">
            </div>
            <div class="col-md-1 pl-0 mob-hide">
                <div class="mt-0 col-md-12 mb-4">
                    <a href="#/home"><img src="app/assets/img/home/home-icon.png" alt="" class="menu-active"></a>
                </div>
                <div ng-include="'app/shared_components/partials/menu.html'" class="main-menu">
                </div>
            </div>
            <div class="col-md-10">
                <div class="row">
                    <div class="ml-1 breadcrumb-txt mb-4">
                        <h3>CHALLENGE</h3>
                    </div>
                    <div class="w-100">
                    </div>
                </div>
               
                
                
                <div class="row">
                    <div class="col-lg-10 col-sm-12 col-12">
                        <div class="row">
                        <!--image-->
                        <div class="col-lg-6  mb-3 col-sm-6 col-12 float-left">
                        <!---Only Cover image-->
                        <div class="bg-theme  mb-2"> 
                            <figure class="phots-feedback-big-icon" style="height:265px;background-image:url('{{challenge.imageLarge}}');background-size:contain" ng-if="challenge.medias[0].fileUrl =='' ||  challenge.medias[0].fileUrl == null"></figure>
                        </div>
                        <!-- <div class="video" style="height:265px;background-image:url('{{challenge.imageLarge}}');background-size:contain" ng-if="
                        challenge.medias[0].fileUrl =='' ||  challenge.medias[0].fileUrl == null">
                        </div>   -->
                        
                        <ul class="col-lg-12 col-md-12 mt-2 mb-4 challenge-rating float-left">
                            
                            <li class="col-md-4 mt-1"><span><img class="chg-icon" src="app/assets/img/challenge/completion.png"> {{challenge.completedcount}}</span></li>
                           
                            <li class="col-md-4" style="left: 180px;">
                                <span ng-click="postLike()" ng-if="challenge.ratedLike"><img class="chg-icon" src="app/assets/img/challenge/liked.png"> </span>
                                <span ng-click="postLike()" ng-if="!challenge.ratedLike"><img class="chg-icon" src="app/assets/img/challenge/like.png"> </span>
                                {{challenge.likeno}}
                            </li>
                            
                        </ul>


                        <!--Form-->
                        <form action="" method="get" accept-charset="utf-8" class="custom-form">          
            
                        <div ng-show="challenge.iliketextrequired">
                            <div class="label-chal">I Like to say</div>
                            <div class="form-group">
                                <textarea name="" class="form-control" placeholder="Type your answer here" rows="7" style="resize: none;" ng-model="ilike"></textarea>
                            </div>                    
                        </div>
                        <div ng-show="challenge.iwishtextrequired">
                             <div class="label-chal">I Wish to include</div>
                            <div class="form-group">
                                <textarea name="" class="form-control" placeholder="Type your answer here" rows="7" style="resize: none;" ng-model="iwish"></textarea>
                            </div>                    
                       </div>

                       <div ng-repeat="text in textboxcoll">
                            <label class="label-chal">{{text.Name}}<sup style="color: #ff0000;" ng-show="text.Required == 'Y'">*</sup></label>
                            <input type="text" name="filename" ng-model="text.Value" aw-limit-length="{{text.Max}}"/>
                       </div>
                      
                       <div ng-repeat="drop in dropdowncoll">
                            <label class="label-chal">{{drop.Name}}<sup style="color: #ff0000;" ng-show="drop.Required == 'Y'">*</sup></label>
                            <select ng-model="drop.Value" selected=''>
                                <option value=''>Select Option</option>
                                <option ng-repeat="value in drop.List" value="{{value.Text}}">{{value.Text}}</option>
                            </select>
                        </div>

                        <a  class="btn submit-feed submit-point" ng-click="submitdata()">
                                <img src="app/assets/img/submit.png" alt="" />
                        </a>
                        </form>
                       
                             <!--Other Completions-->
                            <div class="col-lg-12 col-12 no-padd">
                                <div class="">
                                 
                                <h4 class="mb-0 mt-1 toggle-comments-click">See what others responded <img src="app/assets/img/challenge/arrow-right.png" class="float-right"></h4>
                                <div class="comments-wrapper">
                                <div class="col-lg-12 toggle-comments">
                                <p class="pt-3" ng-if="challengeClaims.length==0">No Activities found</p>
                                   <div ng-repeat="claim in challengeClaims" class="com-top">
                                    <div class="col-lg-2 col-2 col-sm-1 float-left comments-avatar">
                                    <div class="row other-completion-comments-icon bg-theme-dark cursor-pointer" style="background-image:url({{claim.userphoto}})"
                                         ng-click="gotoProfile(claim.userid)">
                                    </div>
                                    </div>
                               
                                    <div class="col-lg-8 col-8 col-sm-8 float-left comments-info pl-0">
                                        <div class="">
                                            <h5 class="cursor-pointer" ng-click="gotoProfile(claim.userid)">{{claim.firstname}}</h5> 
                                        <span>{{claim.createdformatted}}</span>
                                        
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-2 col-sm-2 float-right comments-count">
                                        <!-- <span class="text-right">+{{claim.points}}</span> -->
                                    </div>
                                    <div class="col-lg-12 col-12 float-left">
                                        <div class="comments-text row">
                                                
                                                <p class="mt-2 mb-2" style="padding-left:15px;">
                                                    <span ng-show="claim.ilikecomment != null && claim.ilikecomment != ''">Like :</span> {{claim.ilikecomment}} </br>
                                                    <span ng-show="claim.iwishcomment != null && claim.iwishcomment != ''">Wish :</span> {{claim.iwishcomment}}
                                                </p>
                                            </div>
                                        <div class="row">
                                            
                                            <div class="col-lg-4 col-6">
                                                
                                            </div>
                                             <!-- <div class="col-lg-8 col-6 comments-like">
                                                 <ul class="float-right" style="margin-bottom:10px">
                                                    
                                                    <li data-toggle="collapse" data-target="#activityFeed{{$index}}" aria-expanded="false" >
                                                        <img width="20" src="app/assets/img/challenge/comment-green.png" ng-click="getActivityComments($index,claim.id,claim.pageNo)"/></li>{{claim.commentNo}}
                                                </ul>
                                            </div> -->
                                            <div class="collapse col-lg-12 " style="padding: 0px 10px 0px 15px;"  id="activityFeed{{$index}}">
                                                <hr style="margin-top:0px"/>
                                                <ul ng-if="claim.comments.length!=0" class="scroll clearfix" style="padding-left:0px">
                                                <li ng-repeat="comment in claim.comments" style="list-style-type:none;margin-top:5px" class="clearfix">
                                                    <div class="feed-ac-ic bg-theme cursor-pointer"  style="background-image:url({{comment.photoLarge}})" ng-click="gotoProfile(comment.userId)">
                                                    
                                                    </div>
                                                    <div class="user-comments">
                                                        <h5 class="cursor-pointer" ng-click="gotoProfile(comment.userId)">{{comment.userName}}</h5>
                                                        <p>{{comment.message}}</p>
                                                        <span>{{comment.createdAtFormatted}}</span>
                                                    </div>
                                                </li>
                                            </ul>
                                            <button ng-if="challengeClaims.more" ng-click="nextPageComments($index,activity.id,activity.pageNo)" class="btn submit-comments ml-1">Load More</button>
            
                                              <textarea  rows="2" style="resize: none;" class="form-control" ng-model="claim.comment"></textarea>
                                              <div class="col-lg-4 pl-0">
                                                  <input class="form-control show-more" type="button" value="Post comment" ng-click="updateComment($index,claim.id,claim.comment)"/>
                                              </div>
                                          </div>
                                            
                                        </div>
                                            
                                    </div>
                                    
                                </div>
                                <div>
                                        
                                        <input type="button" class="btn ml-1  submit-comments" value="load more" ng-if="showMoreClaims" ng-click="nextPageClaims()"/>
                                    </div>
                                </div>
                                </div>
                                   

                                </div>
                            </div>

                            </div>

                            <!--Footnote description-->
                            
                            <div class="col-lg-6 col-sm-6  col-12 float-left">
                                <d  iv class="row right-content pt-1 bg-theme-dark  border-radius">
                                    <h4 class="">{{challenge.title}}
                                        <a href="javascript:void(0)" ng-if="challengeConfig.blurText" ng-click="clearBlur()">
                                        <img src="app/assets/img/lock-cha.png" class="lock-icon" />
                                        </a>
                                    </h4>
                                    <p class="scroll footnote-arrow" ><span class="paralink-text" ng-bind-html="challenge.footnote"  ng-class="challengeConfig.blurText?'blur-text':''" ng-click="clearBlur()"></span><a ng-show="nextbtn==true" class="footnote-next ng-scope" ng-click="challengecheck(challenge)"><i class="fa fa-chevron-right pull-right"></i></a></p>
                                </div>
                            </div>
                        </div>
                            
                    </div>
                </div>  

                </div>
				</div>

                

            </div>

        </div>
    </div>
    <!-- </div> -->
    <!-- </div> -->
</div>

<button style="display:none" id="confirmation" data-target="#exampleModal" data-toggle="modal" ng-click="alert('click')"></button>
<button style="display:none" id="pdfopen" data-target="#pdfModal" data-toggle="modal" ></button>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
 <div class="modal-dialog" role="document">
   <div class="modal-content">
     <div class="modal-header">
       <h5 class="modal-title" id="exampleModalLabel">Congratulations!</h5>
       <button type="button" class="close" data-dismiss="modal" aria-label="Close">
         <span aria-hidden="true">&times;</span>
       </button>
     </div>
     <div class="modal-body">
        <div class="mb-2 mt-3 text-center" ng-if="challengeResponse.correctAnswer==false && challenge.badges.length==0"><img src="app/assets/img/incorrect.png" width='80px'/></div>
	  <div class="mb-2 mt-3 text-center text-bold h5"  ng-if="challengeResponse.correctAnswer==false && challenge.badges.length==0">You have got the answer wrong</div>
      <div class="mb-2 mt-3 text-center"  ng-if="(challengeResponse.correctAnswer==undefined || challengeResponse.correctAnswer!=false) && challenge.badges.length==0"><img src="app/assets/img/correct.png" width='80px'/></div>
      <div class="mb-2 mt-3 text-center text-bold h5"  ng-if="(challengeResponse.correctAnswer==undefined || challengeResponse.correctAnswer!=false) && challenge.badges.length==0">Completed Successfully</div>
      <div ng-if="challenge.badges.length>0">
        <h4 class="mb-2 mt-3 text-center">You have been awarded</h4>
        <ul class="diamond-list text-center">
            <li ng-repeat="achievement in challenge.badges" style="background-image:url({{achievement.imageLarge}})">
             <!-- <div class="diamond-list-icon">
                <img ng-src="{{achievement.imageLarge}}" alt="">
        </div> -->
            </li>
        </ul>
      </div>
      <p class="challenge-success text-left">
		<br><br>
		<span>{{challenge.completionMessage}}</span>
	  </p>
     </div>
     <div class="modal-footer">
       <button type="button" class="btn btn-primary" data-dismiss="modal"  ng-click="refresh()">Ok</button>
     </div>
   </div>
 </div>
 </div>


<!-- Modal -->
<div class="modal fade" id="pdfModal" ng-if="challenge.medias[0].type=='PDF'"  tabindex="-1" role="dialog" aria-labelledby="pdfModal" aria-hidden="true">
 <div class="modal-dialog" role="document" style="max-width:90%;height:90vh">
   <div class="modal-content">
     <div class="modal-header">
       <h5 class="modal-title" id="pdfModal">{{challenge.title}}</h5>
       <button type="button" class="close" data-dismiss="modal" ng-click="closePDF()" aria-label="Close">
         <span aria-hidden="true">&times;</span>
       </button>
     </div>
     <div class="modal-body" style="padding:0px!important">
        
      <div class="mb-2 mt-3 text-center text-bold h5">

        <iframe ng-src="{{trustSrc('https://s3-ap-southeast-1.amazonaws.com/switch.petronas.com/pdfjs/web/viewer.html?file='+challenge.medias[0].url)}}" width="100%" style="height:70vh" allowfullscreen></iframe>
      </div>

     </div>
     <div class="modal-footer">
       <button type="button" class="btn btn-primary" data-dismiss="modal"  ng-click="closePDF()">Close</button>
     </div>
   </div>
 </div>
 </div>


