<div ng-include="'app/shared_components/partials/mobile-menu.html'" >
                        
                    </div>
<div class="container-fluid">
    <div class="welcome-wrap mt-3">
    <div class="row">
        <div class="col-md-1 text-center welcome-txt  mt-5">
            <img src="app/assets/img/switch-pose.png" class="wel-mini">
            <img src="app/assets/img/home/welcome-txt.png" alt="" class="img-fluid">
        </div>
        <div class="col-md-1 pl-0 mob-hide">
            <div class="col-md-12 mb-4 mt-3">
                
                <a href="#/home"><img src="app/assets/img/home/home-icon.png" alt="" class="menu-active"></a>
            </div>
            <div ng-include="'app/shared_components/partials/menu.html'" class="main-menu main-menu-video">
            </div>
        </div>
        <div class="col-md-10">
            <div class="row">
                <div class="ml-0 breadcrumb-txt mb-2">
                    <h3>VIDEO</h3>
                </div>
                <div class="col-xs-12 col-md-12 data-wrapper">
                    
                    <h4>{{gameTitle}}</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-7 col-md-12  mt-3">
                    <div class="">
                        <div class="video-block mt-4">
                            
                            <div class="col-lg-12 col-md-12">
                                <div class="row">
                                    <div id="carouselExampleControls" class="carousel" data-ride="carousel">
                                        <div class="carousel-inner">
                                            <div class="carousel-item bg-theme" ng-class="$index==currentSlide?'active':''" ng-repeat="slide in slides">
                                                <div class="video-image" ng-show="!currentChallenge.showVideo"  style="background-image:url({{slide.imageMedium}});background-size:contain" ng-click="showVideoChallenge($index)" ng-show="!currentChallenge.showVideo">
                                                    
                                                    <img src="app/assets/img/play.png" alt="" class="center-img" ng-show="!currentChallenge.showVideo" ng-click="currentChallenge.showVideo=true">
                                                </div>
                                                
                                                <video controls ng-attr-src="{{trustSrc(currentChallenge.medias[0].fileUrl)}}" id="videoSource{{$index}}"  ng-show="currentChallenge.showVideo" height="100%" width="100%"  onended="angular.element(this).scope().videoComplete()" > </video> 
                                               <!-- <iframe ng-src="{{trustSrc(currentChallenge.medias[0].fileUrl+'?autoplay=1')}}" width="100%" height="250" allowfullscreen ng-if="currentChallenge.isembedded && currentChallenge.showVideo"></iframe> -->
                                                   
                             
                                            </div>
                                        </div>
                                        <span class="carousel-control-prev  left-c-trend" ng-click="slideVideo(-1)" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                        </span>
                                        <span class="carousel-control-next right-c-trend" ng-click="slideVideo(1)" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                        </span>
                                    </div>
                                </div>
                                                            <!-- Like and Unlike -->
                                    <ul class="col-lg-12 col-md-12 mt-2 challenge-rating">
                                        
                                        <li class="col-md-4 mt-1"><span><img class="chg-icon" src="app/assets/img/challenge/completion.png"> {{currentChallenge.claimNo}}</span></li>
                                        <li class="col-md-4"><img class="chg-icon comment-icon" src="app/assets/img/challenge/comment.png" alt=""/>{{currentChallenge.commentNo}}</li>
                                        <li class="col-md-4">
                                            <span ng-click="postLike()" ng-if="currentChallenge.ratedLike !== false"><img class="chg-icon" src="app/assets/img/challenge/liked.png"> </span>
                                            <span ng-click="postLike()" ng-if="currentChallenge.ratedLike === false"><img class="chg-icon" src="app/assets/img/challenge/like.png"> </span>
                                            {{currentChallenge.likeNo}}
                                        </li>
                                        
                                    </ul>
                            </div>
                                    
                            <br/><br/>
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 mt-4 pl-0 mob-mt-0 col-xs-12">
                    <div class="vid-feedback border-radius">
                        <div class="vid-desc">
                            <h4>{{currentChallenge.title}} <!-- <a href="#/video?id={{nextChallengeInfo.nextChallengeId}}"><i class="fa fa-chevron-right pull-right"></i></a> --></h4>
                            <p><span class="paralink-text videolink-text" ng-bind-html="currentChallenge.footnote" ></span></p>

                            <ul class="list-challenge" >
                                        <li class="select-list mt-2 mb-3"  ng-repeat="quest in currentChallenge.quizOptions" ng-class="(!currentChallenge.repeat&&currentChallenge.claimed?'answered-options':'')"   ng-if="currentChallenge.quizOptions.length!=1">
                                            <label ng-if="!currentChallenge.repeat&&currentChallenge.claimed">{{quest.title}}</label>
                                            <div class="md-checkbox md-checkbox1" ng-if="currentChallenge.repeat||!currentChallenge.claimed" >
                                                <input ng-click="selectClaim(quest.id,false)" id="{{check+$index}}" type="checkbox">
                                                <label for="{{check+$index}}">
                                                    <span class="check-icon" style="margin-right:5px"></span>
                                                    <span>{{quest.title}}</span></label>
                                            </div>
                                        </li>
                                        </ul>
                            <form action="" method="get" accept-charset="utf-8">
                                        <!-- <button type="submit" ng-if="(currentChallenge.repeat||!currentChallenge.claimed)" ng-disabled="currentChallenge.disableSubmit " class="btn submit-feed submit-point" ng-click="claimChallenge()">
                                            <img src="app/assets/img/get-point.png" alt="">
                                        </button> -->
                                    </form>


                            <!-- <div class="like-comment">
                                <span class="icon-like" ng-click="postLike()">{{currentChallenge.bookmarked}}</span>
                                <span class="icon-comments">{{currentChallenge.commentNo}}</span>
                            </div> -->
                        </div>
                        <div class="comments">
                            <p ng-if="currentChallenge.comments.length==0">No Comments</p>
                            <ul ng-if="currentChallenge.comments.length!=0" class="scroll">
                                <li ng-repeat="comment in currentChallenge.comments">
                                    <div class="other-completion-comments-icon bg-theme cursor-pointer" style="background-image:url({{comment.photoLarge}})" ng-click="gotoProfile(comment.userId)">
                                    <!-- <img src="{{comment.photoLarge}}" alt=""> -->
                                    </div>
                                    <div class="user-comments">
                                        <h5 class=" cursor-pointer" ng-click="gotoProfile(comment.userId)">{{comment.userName}}</h5>
                                        <p>{{comment.message}}</p>
                                        <span>{{comment.createdAtFormatted}}</span>
                                    </div>
                                </li>
                            </ul>
                            <button ng-if="currentChallenge.comments.length!=0 && showMoreComments" ng-click="nextPageComments()" class="btn submit-comments submit-comments-full-width">Load More</button>
                            <hr/>
                            <textarea rows="5" placeholder="Type your comments" ng-model="challengeComment" class="form-control text-frm-control"></textarea>
                            <button ng-click="postComment()" class="btn submit-comments">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<button style="display:none" id="confirmation" data-target="#exampleModal" data-toggle="modal" ng-click="alert('click')"></button>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
 <div class="modal-dialog" role="document">
   <div class="modal-content">
     <div class="modal-header">
       <h5 class="modal-title" id="exampleModalLabel">Congratulations!</h5>
       <button type="button" class="close" data-dismiss="modal" aria-label="Close">
         <span aria-hidden="true">&times;</span>
       </button>
     </div>
     <div class="modal-body">

      <div class="mb-2 mt-3 text-center" ng-if="challengeReponse.correctAnswer==false"><img src="app/assets/img/incorrect.png" width='80px'/></div>
      <div class="mb-2 mt-3 text-center text-bold h5"  ng-if="challengeReponse.correctAnswer==false">You have got the answer wrong</div>
      <div class="mb-2 mt-3 text-center"  ng-if="challengeReponse.correctAnswer!=false"><img src="app/assets/img/correct.png" width='80px'/></div>
      <div class="mb-2 mt-3 text-center text-bold h5"  ng-if="challengeReponse.correctAnswer!=false">Completed Successfully</div>
      
      <div ng-if="challenge.badges.length>0">
        <h4 class="mb-2 mt-3 text-center">You have been awarded</h4>
        <ul class="diamond-list text-center">
            <li ng-repeat="achievement in challenge.badges" style="background-image:url({{achievement.imageLarge}})">
             <!-- <div class="diamond-list-icon">
                <img ng-src="{{achievement.imageLarge}}" alt="">
        </div> -->
            </li>
        </ul>
      </div>
      <p class="challenge-success text-left">
        <br><br>
        <span>{{challenge.completionMessage}}</span>
      </p>
     </div>
     <div class="modal-footer">
       <button type="button" class="btn btn-primary" data-dismiss="modal"  ng-click="refresh()">Ok</button>
     </div>
   </div>
 </div>
 </div>

