@font-face {
    font-family: 'Ubuntu-Bold';
    src: url('../fonts/Ubuntu-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
body {
    font-family: 'Ubuntu-Bold';
    
    background-image: url(../img/Background-images.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 100vh;
    display: table;
    background-attachment: fixed;
}
h1{
	color: #fff;
	font-size: 17px;
	text-align: center;
	line-height: 23px;
	margin-bottom: 40px;
}
.mob-res{
	display: table-cell;
	vertical-align: middle;
}
.mob-res ul{
    list-style: none;
    padding-left: 0;
}
.mob-res ul li{
    width: 45%;
    float: left;
    margin: 5px;
}
.mob-res ul li img{
	width: 100%;
}


