<div ng-include="'app/shared_components/partials/mobile-menu.html'" >
                        
                    </div>
<div class="container-fluid">
    <!-- <div class="table-class"> -->
    <!-- <div class="center-screen"> -->
    <div class="">
        <div class="row">
            <div class="col-md-1 text-center welcome-txt mt-5">
                <img src="app/assets/img/switch-pose.png" class="wel-mini">
                <img src="app/assets/img/home/welcome-txt.png" alt="" class="img-fluid">
            </div>
            <div class="col-md-1 pl-0 mob-hide">
                <div class="mt-0 col-md-12 mb-4">
                    <a href="#/home"><img src="app/assets/img/home/home-icon.png" alt="" class="menu-active"></a>
                </div>
                <div ng-include="'app/shared_components/partials/menu.html'" class="main-menu">
                </div>
            </div>
            <div class="col-lg-10 col-md-12 col-sm-12 col-12" >
                <div class="">
                    <div class="ml-0 breadcrumb-txt mb-4 col-lg-3" style="padding-left: 0">
                        <h3>{{showRewardStore?'REWARDS':'SWITCH STORE'}}</h3>
                        
                    </div>

                    <div class="float-right mt-0">
                        <button class="rewards-btn btn submit-comments submit-comments-wo-bg" ng-if="!showRewardStore" ng-click="rewardStore()"><img src="app/assets/img/rewards/menu.png" /> <span class="text-shadow"> Show Rewards Store</span></button>
                         <a ng-click="rewardStore()"  class="rewards-btn btn submit-comments submit-comments-wo-bg" ng-if="showRewardStore && !isie"> <img style="width:70px" src="app/assets/img/back.png" class="back-icon float-right"></a>
                    </div>
                    <div class="w-100" ng-if="!showRewardStore">
                       
                    	<iframe src='{{trustSrc(switchUrl)}}' width="90%" height="500px" frameborder="0"></iframe>
                    </div> 

                    <!--Redeem-->
                    <div class="col-lg-5 col-12 col-md-12 col-sm-12 float-left no-padd bg-theme-dark scroll right-scroll right-scroll1" ng-if="showRewardStore">
                            <!-- <h3 class="white-color">Reedeem</h3> -->
                            <p class="white-color" ng-if="rewards.length==0">No Data to show</p>
                            <div class="rewards-header">
                                
                                <div class="col-lg-6 text-left col-12 col-sm-4 col-md-4 float-left">
                                    <img ng-if="mesra!=''" src="app/assets/img/profile/mesra.png" class="img-fluid">
                                    
                                
                                   
                                    <a href="#/settings" ng-if="mesra==''">
                                        <h3>ADD MESRA NO.</h3>
                                        <img src="app/assets/img/register/plus.png" class="add-mesra img-fluid"/>
                                         
                                    </a>
                                </div>
                                 <div class="col-lg-6 col-12 col-sm-8 col-md-8 float-left">
                                   <p>Balance Points</p>
                                   <h4>{{points}}</h4>
                                </div>
                            </div>

                                <div class="w-100">
                                    
                                </div>
                            <div  ng-if="rewards.length!=0" class="" ng-repeat="reward in rewards">
                            <div class="col-lg-12 col-12 col-sm-12 rewards-wrapper float-left">
                        		<div class="row">
                        			<div class="col-lg-2 col-md-2 col-sm-2 col-3">
                        				<img src="app/assets/img/rewards/points.png" class="mt-2 img-fluid">
                        			</div>
                        			<div class="col-lg-4 col-9 col-md-6 col-sm-8 redeem-info">
                        				<div class="row">
                        					<h4>{{reward.name}}</h4>
                        					<p>{{reward.quantityAvailable}} left</p>
                        				</div>
                        			</div>
                        			<div class="col-lg-6 col-10 col-md-3 col-sm-8 text-center">
                        				<button type="button" class="redeem-btn btn submit-register" value="mesra" ng-if="mesra!='' && reward.price<=points" ng-click="claimMesra(reward.id)">
                                            <img  src="app/assets/img/rewards/link.png" >
                                        </button>

                                        <button type="button" class="redeem-btn btn submit-register" value="mesra" ng-if="mesra=='' || reward.price>points" >
                                            <img src="app/assets/img/rewards/disable-link.png" class="disable-link">
                                        </button>
                                        <!-- disable redeeem -->
                                        <!-- 
                                        <button class="redeem-btn btn submit-register" ng-click="claimMesra(reward.id)"><img src="app/assets/img/rewards/disable-link.png"></button> -->
                        			</div>
                        		</div>
                            </div>
                        	</div>
                        <button ng-if="rewards.length!=0 && showMoreRedeem" ng-click="loadMore('Redeem')">Load More</button>
                   </div>
<button style="display:none" id="confirmation" data-target="#exampleModal" data-toggle="modal"></button>
                    <div class="col-lg-5 col-md-12 col-sm-12 float-left no-padd bg-theme scroll right-scroll right-scroll1" ng-if="showRewardStore">
                            <!-- <h3 class="white-color">Reedeem</h3> -->
                            <!-- <p class="white-color" ng-if="rewards.length==0">No Data to show</p> -->
                            <div class="rewards-header">
                                 <div class="col-lg-12 col-12 col-sm-8 col-md-8 float-left">
                                   <h3>PREVIOUS REDEEMED ITEMS</h3>
                                </div>
                            </div>

                                <div class="w-100">
                                    
                                </div>
                            <div  ng-if="rewards.length!=0" class="" ng-repeat="reward in redeemed">
                            <div class="col-lg-12 col-12 col-sm-12 rewards-wrapper float-left">
                                <div class="row">
                                    <div class="col-lg-2 col-sm-2 col-3">
                                        <img src="app/assets/img/rewards/points.png" class="mt-2 img-fluid">
                                    </div>
                                    <div class="col-lg-8 col-9 col-sm-6 redeem-info">
                                        <div class="row">
                                            <h4>{{reward.name}}</h4>
                                            <p>{{reward.description}}</p>
                                        </div>
                                    </div>
                                    <!-- <div class="col-lg-5 col-10 col-sm-3 text-center pr-0">
                                       <div class="right-rewards-info">
                                           <h6>Redeemed on</h6>
                                           <p>Today</p>
                                           <span>at 3.05pm</span>
                                       </div>
                                    </div> -->
                                </div>
                            </div>
                            </div>
                            <button ng-if="redeemed.length!=0 && showMoreRedeemed" ng-click="loadMore('Redeemed')">Load More</button>
                        
                   </div>

                   <!--Redeemed-->
                   <!-- <div class="col-lg-6 col-md-12 col-sm-12 float-left" ng-if="showRewardStore && !showRedeem">
                        <h3 class="white-color">Reedeemed</h3>
                            <p class="white-color" ng-if="redeemed.length==0">No Data to show</p>
                            <div  ng-if="redeemed.length!=0" class="" ng-repeat="reward in redeemed">
                            <div class="col-lg-12 col-12 col-sm-12 rewards-wrapper">
                                <div class="row">
                                    <div class="col-lg-2 col-sm-2 col-3">
                                        <img ng-src="{{reward.imageSmall}}" class="mt-2 img-fluid">
                                    </div>
                                    
                                    <div class="col-lg-10 col-12 col-sm-6 redeem-info text-center">
                                        <div class="row">
                                            <h4>{{reward.name}}</h4>
                                            <p class="text-left pad-right-10">{{reward.description}}</p>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        <button ng-if="redeemed.length!=0 && showMoreRedeemed" ng-click="loadMore('Redeemed')">Load More</button>
                   </div> -->

                  <!--   <div class="col-lg-6 col-md-12 col-sm-12 float-left"  ng-if="showRewardStore">
                        
                        <div class="">
                            <div class="col-lg-12 col-sm-12 col-12  mt-3">
                                <div class="row">
                                    <div class="right-rewards-mesra">
                                        <div class="col-lg-5 col-sm-3 float-left">
                                        <img src="app/assets/img/profile/mesra.png" class="img-fluid">
                                    </div>
                                    <div class="col-lg-7 float-left text-right">
                                        <h4>Balance Points</h4>
                                        <h5>{{points}}</h5>
                                        <button class="btn submit-comments" ng-click="toggleRedeem()" ng-if="showRedeem">Show Reedemed Points</button>
                                        <button class="btn submit-comments" ng-click="toggleRedeem()" ng-if="!showRedeem">Show Reedem Points</button>
                                    </div>
                                    
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="" ng-click="">
                            <div class="col-lg-12 col-sm-12 col-12  mt-5">
                                <div class="row">
                                    <div class="right-rewards">
                                        <div class="col-lg-3 col-sm-3 float-left">
                                        <img src="app/assets/img/home/cartoon.png" class="img-fluid">
                                    </div>
                                    <div class="col-lg-6 float-left">
                                        <p>Your accumulated points can be used to upgrade your avatar as well. <span>Let's SWITCH!</span></p>
                                    </div>
                                    <div class="col-lg-3 float-left">
                                        <img src="app/assets/img/profile/diamond.png" class="img-fluid float-right upgrade">
                                        <h5>UPGRADE MY SWITCH</h5>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div> -->

                </div>

            </div>
        	
        </div>
    </div>
    <!-- </div> -->
    <!-- </div> -->
</div>



<!-- Modal -->
<button style="display:none" id="confirmation" data-target="#exampleModal" data-toggle="modal" ng-click="alert('click')"></button>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
 <div class="modal-dialog" role="document">
   <div class="modal-content">
     <div class="modal-header">
       <h5 class="modal-title" id="exampleModalLabel">Message</h5>
       <button type="button" class="close" data-dismiss="modal" aria-label="Close">
         <span aria-hidden="true">&times;</span>
       </button>
     </div>
     <div class="modal-body">
        
      <div class="mb-2 mt-3 text-center text-bold h5">Please access SWITCH Store on Google Chrome or Mozilla Firefox</div>
      
      
     </div>
     <div class="modal-footer">
       <button type="button" class="btn btn-primary" data-dismiss="modal"  ng-click="refresh()">Ok</button>
     </div>
   </div>
 </div>
 </div>



